<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../paper-header-panel/paper-header-panel.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../paper-material/paper-material.html">
<link rel="import" href="../paper-menu/paper-menu.html">
<link rel="import" href="../paper-toast/paper-toast.html">
<link rel="import" href="../paper-toolbar/paper-toolbar.html">
<link rel="import" href="../campus-behavior/campus-behavior.html">
<!--
`campus-core-school`
@demo demo/campus-core-school.html
-->
<dom-module id="campus-core-school">
    <style include="iron-flex iron-flex-alignment iron-flex-factors"></style>
    <style>
        :host {
            display: block;
            position: relative;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            background: #f2f2f2;
            height: 100%;
        }
        
        :host .cell-container {
            padding: 16px 8px;
        }
        
        :host .cell-item1 {
            padding: 0 8px;
            flex: 2 1 240px;
        }
        
        :host .cell-item2 {
            padding: 0 8px;
            flex: 1 1 120px;
        }
        
        :host .header {
            max-width: 737px;
        }

        :host .content {
            max-width: 768px;
        }
        
        @media (min-width: 769px) {
            :host .header {
                margin: 0 auto;
            }
            :host .content {
                padding: 12px;
                margin: 0 auto;
            }
        }
    </style>
    <template>
        <paper-header-panel mode="waterfall">
            <paper-toolbar>
                <div class="flex-auto layout horizontal center header">
                    <div class="title">{{info.chinese_name}}</div>
                    <paper-icon-button icon="icons:done" on-tap="_save"></paper-icon-button>
                </div>
            </paper-toolbar>
            <div class="content">
                <paper-material style="background:#fff">
                    <div class="layout horizontal center" style="padding:16px">
                        <paper-input style="width:80px" label="[[translate._01]]" value="{{info.school_year}}"></paper-input>
                        <paper-dropdown-menu style="width:80px;margin-left:10px" label="[[translate._02]]">
                            <paper-menu class="dropdown-content" selected="{{info.semester}}" attr-for-selected="value">
                                <paper-item value="1">[[translate._13]]</paper-item>
                                <paper-item value="2">[[translate._14]]</paper-item>
                            </paper-menu>
                        </paper-dropdown-menu>
                    </div>
                    <div class="layout horizontal wrap cell-container">
                        <div class="layout vertical cell-item1">
                            <paper-input class="flex-auto" label="[[translate._03]]" value="{{info.chinese_name}}"></paper-input>
                            <paper-input class="flex-auto" label="[[translate._04]]" value="{{info.english_name}}"></paper-input>
                            <paper-input class="flex-auto" label="[[translate._05]]" value="{{info.chinese_address}}"></paper-input>
                            <paper-input class="flex-auto" label="[[translate._06]]" value="{{info.english_address}}"></paper-input>
                            <div class="flex-auto layout horizontal">
                                <paper-input class="flex-auto" label="[[translate._07]]" value="{{info.telephone}}"></paper-input>
                                <div style="width:8px"></div>
                                <paper-input class="flex-auto" label="[[translate._08]]" value="{{info.fax}}"></paper-input>
                            </div>
                        </div>
                        <div class="layout vertical cell-item2">
                            <paper-input class="cell-item" label="[[translate._09]]" value="{{info.chancellor_chinese_name}}"></paper-input>
                            <paper-input class="cell-item" label="[[translate._10]]" value="{{info.chancellor_english_name}}"></paper-input>
                            <paper-input class="cell-item" label="[[translate._11]]" value="{{info.edu_director_name}}"></paper-input>
                            <paper-input class="cell-item" label="[[translate._12]]" value="{{info.stu_director_name}}"></paper-input>
                        </div>
                    </div>
                </paper-material>
            </div>
        </paper-header-panel>
        <paper-toast id="toast"></paper-toast>
    </template>
    <script>
        Polymer({
            is: 'campus-core-school',

            properties: {
                /*
                 * 學校 (zh-tw), 学校 (zh-cn), School (en-us)
                 */
                title: {
                    type: Object,
                    readOnly: true
                }
            },

            behaviors: [Campus.TranslateBehavior, Campus.ServiceBehavior],

            ready: function() {
                this._setTitle({
                    'zh-tw': '學校',
                    'zh-cn': '学校',
                    'en-us': 'School'
                });

                this.initTranslate({
                    'default': 'zh-tw',
                    'zh-tw': {
                        '_00': '學校',
                        '_01': '學年度',
                        '_02': '學期',
                        '_03': '中文名稱',
                        '_04': '英文名稱',
                        '_05': '中文地址',
                        '_06': '英文地址',
                        '_07': '電話',
                        '_08': '傳真',
                        '_09': '校長中文姓名',
                        '_10': '校長英文姓名',
                        '_11': '教務主任姓名',
                        '_12': '學務主任姓名',
                        '_13': '1',
                        '_14': '2',
                        '_15': '更新失敗，請確認資料是否正確',
                        '_16': '更新完成'
                    },
                    'zh-cn': {
                        '_00': '学校',
                        '_01': '学年度',
                        '_02': '学期',
                        '_03': '中文名称',
                        '_04': '英文名称',
                        '_05': '中文地址',
                        '_06': '英文地址',
                        '_07': '电话',
                        '_08': '传真',
                        '_09': '校长中文姓名',
                        '_10': '校长英文姓名',
                        '_11': '教务主任姓名',
                        '_12': '学务主任姓名',
                        '_13': '1',
                        '_14': '2',
                        '_15': '更新失败，请确认资料是否正确',
                        '_16': '更新完成'
                    },
                    'en-us': {
                        '_00': 'School',
                        '_01': 'Year',
                        '_02': 'Semester',
                        '_03': 'Chinese Name',
                        '_04': 'English Name',
                        '_05': 'Chinese Address',
                        '_06': 'English Address',
                        '_07': 'Telephone',
                        '_08': 'Fax',
                        '_09': 'Chancellor Chinese Name',
                        '_10': 'Chancellor English Name',
                        '_11': 'Education Director Name',
                        '_12': 'Student Director Name',
                        '_13': '1',
                        '_14': '2',
                        '_15': 'Update failed',
                        '_16': 'Update success'
                    }
                });

                this._refresh();
            },

            _refresh: function() {
                this._getSchoolInfo();
            },

            _getSchoolInfo: function() {
                var request = {
                    contract: 'campus.core',
                    service: 'school.get',
                    body: ''
                };

                this.generateRequest(request, function(response) {
                    if (response) {
                        this.set('info', response);
                    }
                }.bind(this));
            },

            _save: function() {
                var request = {
                    contract: 'campus.core',
                    service: 'school.set',
                    body: {
                        school_year: this.info.school_year,
                        semester: this.info.semester,
                        chinese_name: this.info.chinese_name,
                        english_name: this.info.english_name,
                        chinese_address: this.info.chinese_address,
                        english_address: this.info.english_address,
                        telephone: this.info.telephone,
                        fax: this.info.fax,
                        chancellor_chinese_name: this.info.chancellor_chinese_name,
                        chancellor_english_name: this.info.chancellor_english_name,
                        edu_director_name: this.info.edu_director_name,
                        stu_director_name: this.info.stu_director_name
                    }
                };

                this.generateRequest(request, function(response) {
                    if (response && response.Message === 'Well done!') {
                        this.$.toast.show({
                            text: this.translate._16,
                            duration: 1000
                        });
                    } else {
                        this.$.toast.show({
                            text: this.translate._15,
                            duration: 1000
                        });
                    }
                }.bind(this));
            }
        });
    </script>
</dom-module>
