<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../iron-pages/iron-pages.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-checkbox/paper-checkbox.html">
<link rel="import" href="../paper-dialog/paper-dialog.html">
<link rel="import" href="../paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../paper-header-panel/paper-header-panel.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-input/paper-textarea.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../paper-listbox/paper-listbox.html">
<link rel="import" href="../paper-material/paper-material.html">
<link rel="import" href="../paper-tabs/paper-tabs.html">
<link rel="import" href="../paper-tabs/paper-tab.html">
<link rel="import" href="../paper-toast/paper-toast.html">
<link rel="import" href="../paper-toolbar/paper-toolbar.html">
<link rel="import" href="../campus-behavior/campus-behavior.html">
<link rel="import" href="../paper-datatable/paper-datatable.html">
<link rel="import" href="../paper-datatable/paper-datatable-column.html">
<!--
`campus-core-course`
@demo demo/campus-core-course.html
-->
<dom-module id="campus-core-course">
    <style include="iron-flex iron-flex-alignment"></style>
    <style>
        :host {
            display: block;
            position: relative;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            background: #f2f2f2;
            height: 100%;
        }
        
        :host .header {
            max-width: 736px;
        }
        
        :host .content {
            max-width: 768px;
        }
        
        @media (min-width: 769px) {
            :host .header {
                margin: 0 auto;
            }
            :host .content {
                padding: 12px;
                margin: 0 auto;
            }
        }
    </style>
    <template>
        <paper-header-panel main mode="waterfall">
            <paper-toolbar>
                <div class="flex-auto layout horizontal center header">
                    <paper-tabs selected="{{_page}}" attr-for-selected="value">
                        <paper-tab value="info">{{translate._15}}</paper-tab>
                        <paper-tab value="export">{{translate._17}}</paper-tab>
                        <paper-tab value="import">{{translate._18}}</paper-tab>
                    </paper-tabs>
                </div>
            </paper-toolbar>
            <div class="content">
                <iron-pages selected="{{_page}}" attr-for-selected="value">
                    <paper-material value="info" style="background:#fff">
                        <div class="layout horizontal center" style="padding:2px 16px">
                            <paper-input label="{{translate._01}}" value="{{current.school_year}}" style="width:80px"></paper-input>
                            <paper-dropdown-menu label="{{translate._02}}" style="width:80px;margin-left:10px">
                                <paper-listbox class="dropdown-content" selected="{{current.semester}}" attr-for-selected="value">
                                    <paper-item value="1">1</paper-item>
                                    <paper-item value="2">2</paper-item>
                                </paper-listbox>
                            </paper-dropdown-menu>
                            <paper-icon-button icon="icons:search" on-tap="_search" style="margin-left:10px"></paper-icon-button>
                            <div class="flex-auto"></div>
                            <paper-button on-tap="_openEditDialog">
                                <iron-icon icon="icons:add"></iron-icon>
                                <span style="margin-left:4px">{{translate._19}}</span>
                            </paper-button>
                        </div>
                        <paper-datatable data="{{courses}}" on-row-tap="_openEditDialog">
                            <paper-datatable-column header="{{translate._03}}" property="course_name" cell-style="white-space:nowrap"></paper-datatable-column>
                            <paper-datatable-column header="{{translate._04}}" property="subject" cell-style="white-space:nowrap"></paper-datatable-column>
                            <paper-datatable-column header="{{translate._05}}" property="class_name" cell-style="white-space:nowrap"></paper-datatable-column>
                            <paper-datatable-column header="{{translate._06}}" property="students" cell-style="white-space:nowrap">
                                <template>
                                    <paper-button style="min-width:40px;margin:0" on-tap="_openStudentDialog">{{_compouteValue(value)}}</paper-button>
                                </template>
                            </paper-datatable-column>
                            <paper-datatable-column header="{{translate._23}}" property="teachers" cell-style="white-space:nowrap">
                                <template>
                                    <paper-button style="min-width:40px;margin:0" on-tap="_openTeacherDialog">{{_compouteValue(value)}}</paper-button>
                                </template>
                            </paper-datatable-column>
                        </paper-datatable>
                    </paper-material>
                    <paper-material value="export" style="background:#fff">
                        <div class="layout horizontal center" style="padding:2px 16px">
                            <paper-input label="{{translate._01}}" value="{{current.school_year}}" style="width:80px"></paper-input>
                            <paper-dropdown-menu label="{{translate._02}}" style="width:80px;margin-left:10px">
                                <paper-listbox class="dropdown-content" selected="{{current.semester}}" attr-for-selected="value">
                                    <paper-item value="1">1</paper-item>
                                    <paper-item value="2">2</paper-item>
                                </paper-listbox>
                            </paper-dropdown-menu>
                            <paper-icon-button icon="icons:search" on-tap="_search" style="margin-left:10px"></paper-icon-button>
                            <div class="flex-auto"></div>
                            <paper-button on-tap="_export">
                                <iron-icon icon="icons:content-copy"></iron-icon>
                                <span style="margin-left:4px">{{translate._26}}</span>
                            </paper-button>
                        </div>
                        <paper-datatable id="exporttable" data="{{courses}}" selectable multi-selection>
                            <paper-datatable-column header="{{translate._01}}" property="school_year" cell-style="white-space:nowrap"></paper-datatable-column>
                            <paper-datatable-column header="{{translate._02}}" property="semester" cell-style="white-space:nowrap"></paper-datatable-column>
                            <paper-datatable-column header="{{translate._03}}" property="course_name" cell-style="white-space:nowrap"></paper-datatable-column>
                            <paper-datatable-column header="{{translate._04}}" property="subject" cell-style="white-space:nowrap"></paper-datatable-column>
                            <paper-datatable-column header="{{translate._05}}" property="class_name" cell-style="white-space:nowrap"></paper-datatable-column>
                        </paper-datatable>
                    </paper-material>
                    <paper-material value="import" style="background:#fff">
                        <div style="padding:16px">
                            <div>{{translate._32}}</div>
                            <div>{{translate._33}}</div>
                            <div>{{translate._34}}</div>
                            <div>{{translate._35}}</div>
                            <div>&nbsp;</div>
                            <div>{{translate._36}}</div>
                            <div>{{translate._37}}</div>
                        </div>
                        <div style="padding:16px 16px 0">
                            <paper-textarea label="{{translate._31}}" max-rows="3" value="{{importData}}"></paper-textarea>
                        </div>
                        <div class="layout horizontal center wrap" style="padding:0 16px">
                            <paper-listbox selected="{{_importStatus.type}}" attr-for-selected="value" class="layout horizontal center">
                                <paper-item value="all" style="cursor:pointer">{{translate._22}} ({{_importStatus.all}})</paper-item>
                                <paper-item value="add" style="cursor:pointer;color:#1976d2">{{translate._19}} ({{_importStatus.add}})</paper-item>
                                <paper-item value="update" style="cursor:pointer;color:#388e3c">{{translate._20}} ({{_importStatus.update}})</paper-item>
                                <paper-item value="error" style="cursor:pointer;color:#d32f2f">{{translate._21}} ({{_importStatus.error}})</paper-item>
                            </paper-listbox>
                            <div class="flex-auto"></div>
                            <paper-button on-tap="_import" hidden$="{{!_importStatus.status}}">
                                <iron-icon icon="icons:cloud-upload"></iron-icon>
                                <span style="margin-left:4px">{{translate._24}}</span>
                            </paper-button>
                            <paper-button on-tap="_parse">
                                <iron-icon icon="icons:find-in-page"></iron-icon>
                                <span style="margin-left:4px">{{translate._16}}</span>
                            </paper-button>
                        </div>
                        <paper-datatable data="{{imports}}">
                            <paper-datatable-column property="type" cell-style="white-space:nowrap">
                                <template>
                                    <iron-pages selected="{{value}}" attr-for-selected="value">
                                        <div value="add" style="color:#1976d2">{{item.index}} {{translate._19}}</div>
                                        <div value="update" style="color:#388e3c">{{item.index}} {{translate._20}}</div>
                                        <div value="error" style="color:#d32f2f">{{item.index}} {{translate._21}}</div>
                                    </iron-pages>
                                </template>
                            </paper-datatable-column>
                            <paper-datatable-column property="error_message" cell-style="white-space:nowrap;color:#d32f2f"></paper-datatable-column>
                            <paper-datatable-column header="{{translate._00}}" property="id" cell-style="white-space:nowrap"></paper-datatable-column>
                            <paper-datatable-column header="{{translate._01}}" property="school_year" cell-style="white-space:nowrap"></paper-datatable-column>
                            <paper-datatable-column header="{{translate._02}}" property="semester" cell-style="white-space:nowrap"></paper-datatable-column>
                            <paper-datatable-column header="{{translate._03}}" property="course_name" cell-style="white-space:nowrap"></paper-datatable-column>
                            <paper-datatable-column header="{{translate._04}}" property="subject" cell-style="white-space:nowrap"></paper-datatable-column>
                            <paper-datatable-column header="{{translate._05}}" property="class_name" cell-style="white-space:nowrap"></paper-datatable-column>
                        </paper-datatable>
                    </paper-material>
                </iron-pages>
            </div>
        </paper-header-panel>
        <paper-toast id="toast"></paper-toast>
        <paper-dialog id="editDialog" modal>
            <paper-dialog-scrollable>
                <paper-input label="{{translate._01}}" value="{{editObject.school_year}}"></paper-input>
                <paper-dropdown-menu label="{{translate._02}}">
                    <paper-listbox class="dropdown-content" selected="{{editObject.semester}}" attr-for-selected="value">
                        <paper-item value="1">1</paper-item>
                        <paper-item value="2">2</paper-item>
                    </paper-listbox>
                </paper-dropdown-menu>
                <paper-input label="{{translate._03}}" value="{{editObject.course_name}}"></paper-input>
                <paper-input label="{{translate._04}}" value="{{editObject.subject}}"></paper-input>
                <paper-dropdown-menu label="{{translate._05}}">
                    <paper-listbox class="dropdown-content" selected="{{editObject.class_name}}" attr-for-selected="value">
                        <paper-item value=""></paper-item>
                        <template is="dom-repeat" items="{{classes}}">
                            <paper-item value="{{item.class_name}}">{{item.class_name}}</paper-item>
                        </template>
                    </paper-listbox>
                </paper-dropdown-menu>
            </paper-dialog-scrollable>
            <div class="buttons">
                <paper-button dialog-dismiss>{{translate._10}}</paper-button>
                <paper-button on-tap="_openDeleteDialog" dialog-dismiss hidden$="{{editObject.isAddNew}}">{{translate._14}}</paper-button>
                <paper-button on-tap="_closeEditDialog">{{translate._13}}</paper-button>
            </div>
        </paper-dialog>
        <paper-dialog id="deleteDialog" modal on-iron-overlay-closed="_closeDeleteDialog">
            <h2>{{translate._08}} [{{editObject.class_name}}]?</h2>
            <div class="buttons">
                <paper-button dialog-dismiss>{{translate._10}}</paper-button>
                <paper-button dialog-confirm>{{translate._09}}</paper-button>
            </div>
        </paper-dialog>
        <paper-dialog id="studentDialog" modal on-iron-overlay-closed="_closeStudentDialog">
            <paper-dialog-scrollable>
                <div class="layout horizontal start">
                    <div style="min-width:240px;margin-right:8px">
                        <div class="layout horizontal center">
                            <paper-checkbox checked="{{relationship.checkCLS}}" style="margin:0 8px 8px 4px"></paper-checkbox>
                            <div class="flex-auto"></div>
                            <paper-dropdown-menu no-label-float label="{{translate._05}}" style="width:140px">
                                <paper-listbox class="dropdown-content" selected="{{relationship.clazz}}" attr-for-selected="value">
                                    <template is="dom-repeat" items="{{classes}}">
                                        <paper-item value="{{item}}">{{item.class_name}}</paper-item>
                                    </template>
                                </paper-listbox>
                            </paper-dropdown-menu>
                        </div>
                        <div class="layout vertical">
                            <template is="dom-repeat" items="{{relationship.class_students}}">
                                <div class="layout horizontal center" style="padding:6px 4px;border-bottom:1px solid #ddd">
                                    <paper-checkbox checked="{{item.checked}}">
                                        <span>{{item.seat_no}}</span><span style="margin-left:8px">{{item.student_name}}</span>
                                    </paper-checkbox>
                                </div>
                            </template>
                        </div>
                    </div>
                    <div class="layout vertical">
                        <paper-icon-button icon="icons:arrow-forward" style="margin-top:80px" on-tap="_addStudent"></paper-icon-button>
                        <paper-icon-button icon="icons:arrow-back" style="margin-top:16px" on-tap="_removeStudent"></paper-icon-button>
                    </div>
                    <div style="min-width:240px;margin-left:8px">
                        <div class="layout horizontal center" style="height:40px">
                            <paper-checkbox checked="{{relationship.checkCOS}}" style="margin:0 8px 8px 4px"></paper-checkbox>
                            <div class="flex-auto"></div>
                            <div>{{relationship.course_students.length}}</div>
                            <div style="margin-left:4px">{{translate._30}}</div>
                        </div>
                        <div class="layout vertical">
                            <template is="dom-repeat" items="{{relationship.course_students}}">
                                <div class="layout horizontal center" style="padding:6px 4px;border-bottom:1px solid #ddd">
                                    <paper-checkbox checked="{{item.checked}}">
                                        <span>{{item.class_name}}</span><span style="margin-left:8px">{{item.seat_no}}</span><span style="margin-left:8px">{{item.student_name}}</span>
                                    </paper-checkbox>
                                </div>
                            </template>
                        </div>
                    </div>
                </div>
            </paper-dialog-scrollable>
            <div class="buttons">
                <paper-button dialog-dismiss>{{translate._10}}</paper-button>
                <paper-button dialog-confirm>{{translate._13}}</paper-button>
            </div>
        </paper-dialog>
        <paper-dialog id="teacherDialog" modal on-iron-overlay-closed="_closeTeacherDialog">
            <h2>{{translate._29}}</h2>
            <paper-dialog-scrollable>
                <div class="layout vertical" style="min-width:240px">
                    <template is="dom-repeat" items="{{relationship.teachers}}">
                        <div class="layout horizontal center" style="padding:6px 4px;border-bottom:1px solid #ddd">
                            <paper-checkbox checked="{{item.isTeacher}}">{{item.teacher_fullname}}</paper-checkbox>
                        </div>
                    </template>
                </div>
            </paper-dialog-scrollable>
            <div class="buttons">
                <paper-button dialog-dismiss>{{translate._10}}</paper-button>
                <paper-button dialog-confirm>{{translate._13}}</paper-button>
            </div>
        </paper-dialog>
        <textarea id="clipboard" value="{{clipboardData}}" style="display:none"></textarea>
    </template>
    <script>
        Polymer({
            is: "campus-core-course",

            properties: {
                /*
                 * 課程 (zh-tw), 课程 (zh-cn), Course (en-us)
                 */
                title: {
                    type: Object,
                    value: {
                        'zh-tw': '課程',
                        'zh-cn': '课程',
                        'en-us': 'Course'
                    },
                    readOnly: true
                },
                _page: {
                    type: String,
                    value: 'info'
                },
                _batch: {
                    type: String,
                    value: 'export'
                },
                _importStatus: {
                    type: Object,
                    value: {
                        type: 'all',
                        status: false,
                        all: 0,
                        add: 0,
                        update: 0,
                        error: 0
                    }
                }
            },

            behaviors: [Campus.TranslateBehavior, Campus.ServiceBehavior],

            observers: ['_filterImports(_importStatus.type)', '_checkCLS(relationship.checkCLS)', '_checkCOS(relationship.checkCOS)', '_getStudents(relationship.clazz)'],

            ready: function() {
                this.initTranslate({
                    'default': 'zh-tw',
                    'zh-tw': {
                        '_00': '系統編號',
                        '_01': '學年度',
                        '_02': '學期',
                        '_03': '課程名稱',
                        '_04': '科目',
                        '_05': '班級',
                        '_06': '學生',
                        '_07': '欄位標頭已複製到剪貼簿',
                        '_08': '確定刪除',
                        '_09': '確定',
                        '_10': '取消',
                        '_11': '更新失敗，請確認資料是否正確',
                        '_12': '筆選取的資料，已複製到剪貼簿',
                        '_13': '儲存',
                        '_14': '刪除',
                        '_15': '基本資料',
                        '_16': '解析',
                        '_17': '匯出',
                        '_18': '匯入',
                        '_19': '新增',
                        '_20': '更新',
                        '_21': '錯誤',
                        '_22': '全部',
                        '_23': '教師',
                        '_24': '上傳',
                        '_25': '上傳完成',
                        '_26': '複製',
                        '_27': '課程名稱重覆',
                        '_28': '班級不存在',
                        '_29': '課程授課教師',
                        '_30': '課程修課學生',
                        '_31': '貼上資料',
                        '_32': 'A. 請先於「匯出」點選「複製」取得資料欄位標頭，並貼上至Excel進行資料編輯。',
                        '_33': 'B. 編輯完成後，請全選Excel資料進行複製，貼至該頁面之「貼上資料」欄，並點選「解析」。',
                        '_34': 'C. 若解析出現錯誤，請依循錯誤進行資料修正後，再重新貼入進行解析。',
                        '_35': 'D. 若解析後，顯示「新增」或「更新」，即可點選「上傳」，完成基本資料新增。',
                        '_36': '必填欄位：課程名稱；名稱不得重複。',
                        '_37': '勿刪除：系統編號欄位。'
                    },
                    'zh-cn': {
                        '_00': '系统编号',
                        '_01': '学年度',
                        '_02': '学期',
                        '_03': '课程名称',
                        '_04': '科目',
                        '_05': '班级',
                        '_06': '学生',
                        '_07': '栏位标头已复制到剪贴簿',
                        '_08': '确定删除',
                        '_09': '确定',
                        '_10': '取消',
                        '_11': '更新失败，请确认资料是否正确',
                        '_12': '笔选取的资料，已复制到剪贴簿',
                        '_13': '储存',
                        '_14': '删除',
                        '_15': '基本资料',
                        '_16': '解析',
                        '_17': '导出',
                        '_18': '导入',
                        '_19': '新增',
                        '_20': '更新',
                        '_21': '错误',
                        '_22': '全部',
                        '_23': '教师',
                        '_24': '上传',
                        '_25': '上传完成',
                        '_26': '复制',
                        '_27': '课程名称重复',
                        '_28': '班级不存在',
                        '_29': '课程授课教师',
                        '_30': '课程修课学生',
                        '_31': '贴上资料',
                        '_32': 'A. 請先於「匯出」點選「複製」取得資料欄位標頭，並貼上至Excel進行資料編輯。',
                        '_33': 'B. 編輯完成後，請全選Excel資料進行複製，貼至該頁面之「貼上資料」欄，並點選「解析」。',
                        '_34': 'C. 若解析出現錯誤，請依循錯誤進行資料修正後，再重新貼入進行解析。',
                        '_35': 'D. 若解析後，顯示「新增」或「更新」，即可點選「上傳」，完成基本資料新增。',
                        '_36': '必填欄位：課程名稱；名稱不得重複。',
                        '_37': '勿刪除：系統編號欄位。'
                    },
                    'en-us': {
                        '_00': 'UID',
                        '_01': 'Year',
                        '_02': 'Semester',
                        '_03': 'Course Name',
                        '_04': 'Subject',
                        '_05': 'Class',
                        '_06': 'Student',
                        '_07': 'Column title copy to clipboard',
                        '_08': 'Delete',
                        '_09': 'Sumit',
                        '_10': 'Cancel',
                        '_11': 'Update failed',
                        '_12': 'items copy to clipboard',
                        '_13': 'Save',
                        '_14': 'Delete',
                        '_15': 'Info',
                        '_16': 'Parse',
                        '_17': 'Export',
                        '_18': 'Import',
                        '_19': 'Add',
                        '_20': 'Update',
                        '_21': 'Error',
                        '_22': 'All',
                        '_23': 'Teacher',
                        '_24': 'Upload',
                        '_25': 'Upload complete',
                        '_26': 'Copy',
                        '_27': 'Duplicate course name',
                        '_28': 'Class does not exist',
                        '_29': 'Course instructors',
                        '_30': 'Course students',
                        '_31': 'Paste data',
                        '_32': 'A. 請先於「匯出」點選「複製」取得資料欄位標頭，並貼上至Excel進行資料編輯。',
                        '_33': 'B. 編輯完成後，請全選Excel資料進行複製，貼至該頁面之「貼上資料」欄，並點選「解析」。',
                        '_34': 'C. 若解析出現錯誤，請依循錯誤進行資料修正後，再重新貼入進行解析。',
                        '_35': 'D. 若解析後，顯示「新增」或「更新」，即可點選「上傳」，完成基本資料新增。',
                        '_36': '必填欄位：課程名稱；名稱不得重複。',
                        '_37': '勿刪除：系統編號欄位。'
                    }
                });

                this._getCurrentSemester();
            },

            _compouteValue: function(value) {
                return (value && value !== '' ? value : '+');
            },

            _search: function() {
                if (this.$.exporttable) {
                    this.$.exporttable.deselectAll();
                    this.$.exporttable.reset();
                }

                this._getCourses();
            },

            _getCurrentSemester: function() {
                var request = {
                    contract: 'campus.core',
                    service: 'global.getCurrentSemester',
                    body: ''
                };

                this.generateRequest(request, function(response) {
                    if (response && !response.Message) {
                        this.set('current', response);
                        this._getCourses();
                        this._getClasses();
                    }
                }.bind(this));
            },

            _getCourses: function() {
                var request = {
                    contract: 'campus.core',
                    service: 'course.get',
                    body: ['<school_year>', this.current.school_year, '</school_year><semester>', this.current.semester, '</semester>'].join('')
                };

                this.generateRequest(request, function(response) {
                    if (response && response.courses) {
                        var items = [].concat(response.courses.course || []);
                        this.set('courses', items);
                    }
                }.bind(this));
            },

            _getClasses: function() {
                var request = {
                    contract: 'campus.core',
                    service: 'class.get',
                    body: ''
                };

                this.generateRequest(request, function(response) {
                    if (response && response.classes) {
                        var items = [].concat(response.classes.class || []);
                        items.forEach(function(item) {
                            item.teacher_label = item.teacher_nickname ? [item.teacher_name, ' (', item.teacher_nickname, ')'].join('') : item.teacher_name;
                        });

                        this.set('classes', items);
                    }
                }.bind(this));
            },

            _openEditDialog: function(e) {
                if (e.detail && e.detail.item) {
                    this.set('editObject', {
                        id: e.detail.item.id,
                        school_year: e.detail.item.school_year,
                        semester: e.detail.item.semester,
                        course_name: e.detail.item.course_name,
                        subject: e.detail.item.subject,
                        class_name: e.detail.item.class_name
                    });
                } else {
                    this.set('editObject', {
                        school_year: this.current.school_year,
                        semester: this.current.semester,
                        isAddNew: true
                    });
                }

                this.$.editDialog.open();
            },

            _closeEditDialog: function(e) {
                var clazz;
                this.classes.forEach(function(c) {
                    if (c.class_name === this.editObject.class_name)
                        clazz = c;
                }.bind(this));

                var request = {
                    contract: 'campus.core',
                    service: 'course.set',
                    body: [
                        '<school_year>', this.editObject.school_year, '</school_year>',
                        '<semester>', this.editObject.semester, '</semester>',
                        '<course_name>', this.editObject.course_name, '</course_name>',
                        '<subject>', this.editObject.subject, '</subject>',
                        '<ref_class_id>', clazz ? clazz.id : '', '</ref_class_id>'
                    ]
                };

                if (this.editObject.id)
                    request.body.push(['<id>', this.editObject.id, '</id>'].join(''))

                request.body = request.body.join('');

                this.generateRequest(request, function(response) {
                    if (response && response.Message === 'Well done!') {
                        this._getCourses();
                        this.$.editDialog.close();
                    } else {
                        this.$.toast.show({
                            text: this.translate._11,
                            duration: 1000
                        });
                    }
                }.bind(this));
            },

            _openDeleteDialog: function() {
                this.$.deleteDialog.open();
            },

            _closeDeleteDialog: function(e) {
                if (e.detail.confirmed) {
                    var request = {
                        contract: 'campus.core',
                        service: 'course.delete',
                        body: ['<id>', this.editObject.id, '</id>'].join('')
                    };

                    this.generateRequest(request, function(response) {
                        if (response && response.Message === 'Well done!') {
                            this._getCourses();
                        } else {
                            this.$.toast.show({
                                text: this.translate._11,
                                duration: 1000
                            });
                        }
                    }.bind(this));
                }
            },

            _openStudentDialog: function(e) {
                e.stopPropagation();

                this.set('relationship', {
                    type: 'add',
                    course_id: e.model.item.id,
                    clazz: this.classes[0],
                    course_students: [],
                    origin_course_students: [],
                    class_students: []
                });

                var request = {
                    contract: 'campus.core',
                    service: 'course.getStudents',
                    body: ['<course_id>', e.model.item.id, '</course_id>'].join('')
                };

                this.generateRequest(request, function(response) {
                    if (response && response.students) {
                        var items = [].concat(response.students.student || []);
                        this.set('relationship.course_students', items);
                        this.set('relationship.origin_course_students', JSON.parse(JSON.stringify(items)));
                    }
                }.bind(this));

                setTimeout(function() {
                    this.$.studentDialog.open();
                }.bind(this), 500);
            },

            _closeStudentDialog: function(e) {
                if (e.detail.confirmed) {
                    var adds = [],
                        removes = [];
                    this.relationship.course_students.forEach(function(cs) {
                        if (!cs.scid) adds.push(['<student>', cs.id, '</student>'].join(''));
                    });

                    this.relationship.origin_course_students.forEach(function(ocs) {
                        var flag = false;
                        this.relationship.course_students.forEach(function(cs) {
                            if (ocs.id === cs.id) flag = true;
                        });

                        if (!flag) removes.push(['<student>', ocs.id, '</student>'].join(''));
                    }.bind(this));

                    var request = {
                        contract: 'campus.core',
                        service: 'course.setStudents',
                        body: ['<course_id>', this.relationship.course_id, '</course_id><add>', adds.join(''), '</add><remove>', removes.join(''), '</remove>'].join('')
                    };

                    this.generateRequest(request, function(response) {
                        if (response && response.Message === 'Well done!') {
                            this._getCourses();
                            this.$.studentDialog.close();
                        } else {
                            this.$.toast.show({
                                text: this.translate._11,
                                duration: 1000
                            });
                        }
                    }.bind(this));
                }
            },

            _checkCLS: function(value) {
                if (!this.relationship.class_students) return;

                this.relationship.class_students.forEach(function(cs, idx) {
                    this.set(['relationship.class_students.', idx, '.checked'].join(''), value);
                }.bind(this));
            },

            _checkCOS: function(value) {
                if (!this.relationship.course_students) return;

                this.relationship.course_students.forEach(function(cs, idx) {
                    this.set(['relationship.course_students.', idx, '.checked'].join(''), value);
                }.bind(this));
            },

            _getStudents: function(clazz) {
                if (!clazz) return;

                var request = {
                    contract: 'campus.core',
                    service: 'student.get',
                    body: ['<class_id>', clazz.id, '</class_id><status>1</status><field>student_name,seat_no</field>'].join('')
                };

                this.generateRequest(request, function(response) {
                    if (response && response.students) {
                        var items = [].concat(response.students.student || []);
                        this.set('relationship.class_students', items);
                    }
                }.bind(this));
            },

            _addStudent: function(e) {
                this.relationship.class_students.forEach(function(cls, lidx) {
                    if (cls.checked) {
                        var flag = false;
                        this.relationship.course_students.forEach(function(cos, oidx) {
                            if (cos.student_id === cls.id)
                                flag = true;
                        });

                        if (!flag) {
                            this.set(['relationship.class_students.', lidx, '.checked'].join(''), false);
                            var item = JSON.parse(JSON.stringify(cls));
                            item.checked = false;
                            item.class_name = this.relationship.clazz.class_name;
                            this.push('relationship.course_students', item);
                        }
                    }
                }.bind(this));

                this.set('relationship.checkCLS', false);
            },

            _removeStudent: function(e) {
                var items = [];
                this.relationship.course_students.forEach(function(item) {
                    if (!item.checked)
                        items.push(item);
                });

                this.set('relationship.course_students', items);
                this.set('relationship.checkCOS', false);
            },

            _openTeacherDialog: function(e) {
                e.stopPropagation();

                this.set('relationship', {
                    course_id: e.model.item.id
                });

                var request = {
                    contract: 'campus.core',
                    service: 'course.getTeachers',
                    body: ['<course_id>', e.model.item.id, '</course_id>'].join('')
                };

                this.generateRequest(request, function(response) {
                    if (response && response.teachers) {
                        var items = [].concat(response.teachers.teacher || []);
                        items.forEach(function(item) {
                            item.isTeacher = item.is_course_teacher === '1';
                        });

                        this.set('relationship.teachers', items);

                        this.$.teacherDialog.open();
                    }
                }.bind(this));
            },

            _closeTeacherDialog: function(e) {
                if (e.detail.confirmed) {
                    var body = [
                        ['<course_id>', this.relationship.course_id, '</course_id>'].join('')
                    ];
                    this.relationship.teachers.forEach(function(item) {
                        if (item.isTeacher) {
                            body.push(['<teacher_id>', item.id, '</teacher_id>'].join(''));
                        }
                    });

                    var request = {
                        contract: 'campus.core',
                        service: 'course.setTeachers',
                        body: body.join('')
                    };

                    this.generateRequest(request, function(response) {
                        if (response && response.Message === 'Well done!') {
                            this._getCourses();
                            this.$.teacherDialog.close();
                        } else {
                            this.$.toast.show({
                                text: this.translate._11,
                                duration: 1000
                            });
                        }
                    }.bind(this));
                }
            },

            _export: function() {
                var items = [
                    [this.translate._00, this.translate._01, this.translate._02, this.translate._03, this.translate._04, this.translate._05].join('\t')
                ];
                this.$.exporttable.selectedItems.forEach(function(item) {
                    items.push([item.id, item.school_year, item.semester, item.course_name.trim(), item.subject.trim(), item.class_name.trim()].join('\t'));
                });

                this.set('clipboardData', items.join('\n'));
                this.$.clipboard.style.display = 'block';
                this.$.clipboard.select();
                document.execCommand('copy');
                this.$.clipboard.style.display = 'none';

                this.$.toast.show({
                    text: items.length - 1 === 0 ? this.translate._07 : [items.length - 1, this.translate._12].join(' '),
                    duration: 1000
                });
            },

            _parse: function() {
                if (!this.importData) return;

                var items = [],
                    data = this.importData.split("\n");
                data.shift();
                data.forEach(function(d, index) {
                    var temp = d.replace(/\t/ig, ',').split(',');
                    temp.forEach(function(t, index) {
                        temp[index] = temp[index].replace(/"/ig, '').replace(/　/ig, '');
                    });

                    if (!(temp[0].trim() === '' &&
                            temp[1].trim() === '' &&
                            temp[2].trim() === '' &&
                            temp[3].trim() === '' &&
                            temp[4].trim() === '' &&
                            temp[5].trim() === '')) {

                        var item = {
                            type: (temp[0] || '').trim() === '' ? 'add' : 'update',
                            index: ['#', index + 1].join(''),
                            id: (temp[0] || '').trim(),
                            school_year: (temp[1] || '').trim(),
                            semester: (temp[2] || '').trim(),
                            course_name: (temp[3] || '').trim(),
                            subject: (temp[4] || '').trim(),
                            class_name: (temp[5] || '').trim()
                        }

                        var errors = [],
                            rule1 = false, // 課程名稱重覆
                            rule2 = false; // 班級不存在
                        this.courses.forEach(function(c) {
                            if (c.course_name.toUpperCase() === item.course_name.toUpperCase() && c.id !== item.id)
                                rule1 = true;
                        });

                        if (rule1) errors.push(this.translate._27);

                        if (item.class_name !== '') {
                            this.classes.forEach(function(c) {
                                if (c.class_name.toUpperCase() === item.class_name.toUpperCase()) {
                                    item.ref_class_id = c.id;
                                    rule2 = true;
                                }
                            });

                            if (!rule2) errors.push(this.translate._28);
                        } else
                            item.ref_class_id = '';

                        item.error_message = errors.join(", ");
                        item.type = errors.length > 0 ? 'error' : item.type;

                        items.push(item);
                    }
                }.bind(this));

                var count = [items.length, 0, 0, 0];
                items.forEach(function(item) {
                    if (item.type === 'add')
                        count[1] += 1;
                    if (item.type === 'update')
                        count[2] += 1;
                    if (item.type === 'error')
                        count[3] += 1;
                });

                this.set('_importStatus.all', count[0]);
                this.set('_importStatus.add', count[1]);
                this.set('_importStatus.update', count[2]);
                this.set('_importStatus.error', count[3]);
                this.set('_importStatus.status', count[3] === 0 && items.length > 0);

                this.set('imports', items);
                this.set('originImports', items);
            },

            _filterImports: function(value) {
                if (!this.originImports) return;

                var items = [];
                this.originImports.forEach(function(item) {
                    if (item.type === value || value === 'all')
                        items.push(item);
                });

                this.set('imports', items);
            },

            _import: function() {
                var items = [];
                this.originImports.forEach(function(item) {
                    items.push([
                        '<course>',
                        '<id>', item.id, '</id>',
                        '<school_year>', item.school_year, '</school_year>',
                        '<semester>', item.semester, '</semester>',
                        '<course_name>', item.course_name, '</course_name>',
                        '<subject>', item.subject, '</subject>',
                        '<ref_class_id>', item.ref_class_id, '</ref_class_id>',
                        '</course>'
                    ].join(''));
                });

                var request = {
                    contract: 'campus.core',
                    service: 'course.batch',
                    body: items.join('')
                };

                this.generateRequest(request, function(response) {
                    if (response && response.Message === 'Well done!') {
                        this.set('importData', '');
                        this.set('imports', []);
                        this.set('originImports', []);

                        this.set('_importStatus', {
                            type: 'all',
                            status: false,
                            all: 0,
                            add: 0,
                            update: 0,
                            error: 0
                        });

                        this._search();

                        this.$.toast.show({
                            text: this.translate._25,
                            duration: 1000
                        });
                    } else {
                        this.$.toast.show({
                            text: this.translate._11,
                            duration: 1000
                        });
                    }
                }.bind(this));
            }
        });
    </script>
</dom-module>
