<link rel="import" href="campus-core-class.html">
<link rel="import" href="campus-core-course.html">
<link rel="import" href="campus-core-school.html">
<link rel="import" href="campus-core-student.html">
<link rel="import" href="campus-core-teacher.html">
<link rel="import" href="campus-core-plugin.html">
