<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../iron-pages/iron-pages.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-checkbox/paper-checkbox.html">
<link rel="import" href="../paper-dialog/paper-dialog.html">
<link rel="import" href="../paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../paper-header-panel/paper-header-panel.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-input/paper-textarea.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../paper-listbox/paper-listbox.html">
<link rel="import" href="../paper-material/paper-material.html">
<link rel="import" href="../paper-tabs/paper-tabs.html">
<link rel="import" href="../paper-tabs/paper-tab.html">
<link rel="import" href="../paper-toast/paper-toast.html">
<link rel="import" href="../paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../paper-toolbar/paper-toolbar.html">
<link rel="import" href="../campus-behavior/campus-behavior.html">
<link rel="import" href="../paper-datatable/paper-datatable.html">
<link rel="import" href="../paper-datatable/paper-datatable-column.html">
<!--
`campus-core-teacher`
@demo demo/campus-core-teacher.html
-->
<dom-module id="campus-core-teacher">
    <style include="iron-flex iron-flex-alignment"></style>
    <style>
        :host {
            display: block;
            position: relative;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            background: #f2f2f2;
            height: 100%;
        }
        
        :host paper-toggle-button {
            cursor: pointer;
        }
        
        :host .header {
            max-width: 931px;
        }
        
        :host .content {
            max-width: 963px;
        }
        
        @media (min-width: 769px) {
            :host .header {
                margin: 0 auto;
            }
            :host .content {
                padding: 12px;
                margin: 0 auto;
            }
        }
    </style>
    <template>
        <paper-header-panel mode="waterfall">
            <paper-toolbar>
                <div class="flex-auto layout horizontal center header">
                    <paper-tabs selected="{{_page}}" attr-for-selected="value">
                        <paper-tab value="info">{{translate._17}}</paper-tab>
                        <paper-tab value="export">{{translate._19}}</paper-tab>
                        <paper-tab value="import">{{translate._20}}</paper-tab>
                    </paper-tabs>
                </div>
            </paper-toolbar>
            <div class="content">
                <iron-pages selected="{{_page}}" attr-for-selected="value">
                    <paper-material value="info" style="background:#fff">
                        <div class="layout horizontal center" style="padding:12px 16px">
                            <paper-toggle-button checked="{{_status}}" on-change="_statusChanged" style="margin-right:16px">{{translate._11}}</paper-toggle-button>
                            <div class="flex-auto"></div>
                            <paper-button on-tap="_openEditDialog">
                                <iron-icon icon="icons:add"></iron-icon>
                                <span style="margin-left:4px">{{translate._21}}</span>
                            </paper-button>
                            <paper-button on-tap="_openSyncedDialog">
                                <iron-icon icon="icons:autorenew"></iron-icon>
                                <span style="margin-left:4px">{{translate._31}}</span>
                            </paper-button>
                        </div>
                        <paper-datatable data="{{teachers}}" on-row-tap="_openEditDialog">
                            <paper-datatable-column header="{{translate._01}}" property="teacher_name" cell-style="white-space:nowrap"></paper-datatable-column>
                            <paper-datatable-column header="{{translate._02}}" property="gender" cell-style="white-space:nowrap">
                                <template>
                                    <span>{{_computeGender(value)}}</span>
                                </template>
                            </paper-datatable-column>
                            <paper-datatable-column header="{{translate._03}}" property="teacher_nickname" cell-style="white-space:nowrap"></paper-datatable-column>
                            <paper-datatable-column header="{{translate._06}}" property="teacher_code" cell-style="white-space:nowrap"></paper-datatable-column>
                            <paper-datatable-column header="{{translate._04}}" property="account" cell-style="white-space:nowrap"></paper-datatable-column>
                            <paper-datatable-column header="{{translate._05}}" property="password" cell-style="white-space:nowrap"></paper-datatable-column>
                            <paper-datatable-column header="{{translate._16}}" property="synced" cell-style="white-space:nowrap">
                                <template>
                                    <iron-icon icon="{{_computeSynced(value)}}"></iron-icon>
                                </template>
                            </paper-datatable-column>
                        </paper-datatable>
                    </paper-material>
                    <paper-material value="export" style="background:#fff">
                        <div class="layout horizontal center" style="padding:12px 16px">
                            <paper-toggle-button checked="{{_status}}" on-change="_statusChanged" style="margin-right:16px">{{translate._11}}</paper-toggle-button>
                            <div class="flex-auto"></div>
                            <paper-button on-tap="_export">
                                <iron-icon icon="icons:content-copy"></iron-icon>
                                <span style="margin-left:4px">{{translate._27}}</span>
                            </paper-button>
                        </div>
                        <paper-datatable id="exporttable" data="{{teachers}}" selectable multi-selection>
                            <paper-datatable-column header="{{translate._01}}" property="teacher_name" cell-style="white-space:nowrap"></paper-datatable-column>
                            <paper-datatable-column header="{{translate._02}}" property="gender" cell-style="white-space:nowrap">
                                <template>
                                    <span>{{_computeGender(value)}}</span>
                                </template>
                            </paper-datatable-column>
                            <paper-datatable-column header="{{translate._03}}" property="teacher_nickname" cell-style="white-space:nowrap"></paper-datatable-column>
                            <paper-datatable-column header="{{translate._06}}" property="teacher_code" cell-style="white-space:nowrap"></paper-datatable-column>
                            <paper-datatable-column header="{{translate._04}}" property="account" cell-style="white-space:nowrap"></paper-datatable-column>
                            <paper-datatable-column header="{{translate._05}}" property="password" cell-style="white-space:nowrap"></paper-datatable-column>
                        </paper-datatable>
                    </paper-material>
                    <paper-material value="import" style="background:#fff">
                        <div style="padding:16px">
                            <div>{{translate._37}}</div>
                            <div>{{translate._38}}</div>
                            <div>{{translate._39}}</div>
                            <div>{{translate._40}}</div>
                            <div>&nbsp;</div>
                            <div>{{translate._41}}</div>
                            <div>{{translate._42}}</div>
                        </div>
                        <div style="padding:16px 16px 0">
                            <paper-textarea label="{{translate._36}}" max-rows="3" value="{{importData}}"></paper-textarea>
                        </div>
                        <div class="layout horizontal center wrap" style="padding:0 16px">
                            <paper-listbox selected="{{_importStatus.type}}" attr-for-selected="value" class="layout horizontal center">
                                <paper-item value="all" style="cursor:pointer">{{translate._24}} ({{_importStatus.all}})</paper-item>
                                <paper-item value="add" style="cursor:pointer;color:#1976d2">{{translate._21}} ({{_importStatus.add}})</paper-item>
                                <paper-item value="update" style="cursor:pointer;color:#388e3c">{{translate._22}} ({{_importStatus.update}})</paper-item>
                                <paper-item value="error" style="cursor:pointer;color:#d32f2f">{{translate._23}} ({{_importStatus.error}})</paper-item>
                            </paper-listbox>
                            <div class="flex-auto"></div>
                            <paper-button on-tap="_import" hidden$="{{!_importStatus.status}}">
                                <iron-icon icon="icons:cloud-upload"></iron-icon>
                                <span style="margin-left:4px">{{translate._25}}</span>
                            </paper-button>
                            <paper-button on-tap="_parse">
                                <iron-icon icon="icons:find-in-page"></iron-icon>
                                <span style="margin-left:4px">{{translate._18}}</span>
                            </paper-button>
                        </div>
                        <paper-datatable data="{{imports}}">
                            <paper-datatable-column property="type" cell-style="white-space:nowrap">
                                <template>
                                    <iron-pages selected="{{value}}" attr-for-selected="value">
                                        <div value="add" style="color:#1976d2">{{item.index}} {{translate._21}}</div>
                                        <div value="update" style="color:#388e3c">{{item.index}} {{translate._22}}</div>
                                        <div value="error" style="color:#d32f2f">{{item.index}} {{translate._23}}</div>
                                    </iron-pages>
                                </template>
                            </paper-datatable-column>
                            <paper-datatable-column property="error_message" cell-style="white-space:nowrap;color:#d32f2f"></paper-datatable-column>
                            <paper-datatable-column header="{{translate._00}}" property="id" cell-style="white-space:nowrap"></paper-datatable-column>
                            <paper-datatable-column header="{{translate._01}}" property="teacher_name" cell-style="white-space:nowrap"></paper-datatable-column>
                            <paper-datatable-column header="{{translate._02}}" property="gender" cell-style="white-space:nowrap"></paper-datatable-column>
                            <paper-datatable-column header="{{translate._03}}" property="teacher_nickname" cell-style="white-space:nowrap"></paper-datatable-column>
                            <paper-datatable-column header="{{translate._06}}" property="teacher_code" cell-style="white-space:nowrap"></paper-datatable-column>
                            <paper-datatable-column header="{{translate._04}}" property="account" cell-style="white-space:nowrap"></paper-datatable-column>
                            <paper-datatable-column header="{{translate._05}}" property="password" cell-style="white-space:nowrap"></paper-datatable-column>
                        </paper-datatable>
                    </paper-material>
                </iron-pages>
            </div>
        </paper-header-panel>
        <paper-toast id="toast"></paper-toast>
        <paper-dialog id="editDialog" modal>
            <paper-dialog-scrollable>
                <div class="layout horizontal center">
                    <paper-input label="{{translate._01}}" value="{{editObject.teacher_name}}" class="flex-auto"></paper-input>
                    <paper-dropdown-menu label="{{translate._02}}" style="width:80px;margin-left:10px">
                        <paper-listbox class="dropdown-content" selected="{{editObject.gender}}" attr-for-selected="value">
                            <paper-item value=""></paper-item>
                            <paper-item value="1">{{translate._07}}</paper-item>
                            <paper-item value="0">{{translate._08}}</paper-item>
                        </paper-listbox>
                    </paper-dropdown-menu>
                </div>
                <paper-input label="{{translate._03}}" value="{{editObject.teacher_nickname}}"></paper-input>
                <paper-input label="{{translate._04}}" value="{{editObject.account}}"></paper-input>
                <paper-input label="{{translate._05}}" value="{{editObject.password}}"></paper-input>
                <div class="layout horizontal center">
                    <paper-input label="{{translate._06}}" value="{{editObject.teacher_code}}" readonly class="flex-auto"></paper-input>
                    <paper-icon-button icon="icons:autorenew" on-tap="_regenerateCode"></paper-icon-button>
                    <paper-icon-button icon="icons:clear" on-tap="_removeCode"></paper-icon-button>
                </div>
            </paper-dialog-scrollable>
            <div class="buttons layout horizontal center">
                <paper-checkbox checked="{{editObject.delete}}" hidden$="{{editObject.isAddNew}}">{{translate._11}}</paper-checkbox>
                <div class="flex-auto"></div>
                <paper-button dialog-dismiss>{{translate._13}}</paper-button>
                <paper-button on-tap="_closeEditDialog">{{translate._10}}</paper-button>
            </div>
        </paper-dialog>
        <paper-dialog id="syncedDialog" modal>
            <h2>{{translate._32}}</h2>
            <paper-dialog-scrollable>
                <paper-input label="{{translate._33}}" value="{{_syncAdmin.domain}}"></paper-input>
                <paper-input label="{{translate._34}}" value="{{_syncAdmin.account}}"></paper-input>
                <paper-input label="{{translate._35}}" value="{{_syncAdmin.password}}" type="password"></paper-input>
            </paper-dialog-scrollable>
            <div class="buttons">
                <paper-button dialog-dismiss>{{translate._13}}</paper-button>
                <paper-button on-tap="_closeSyncedDialog">{{translate._12}}</paper-button>
            </div>
        </paper-dialog>
        <textarea id="clipboard" value="{{clipboardData}}" style="display:none"></textarea>
    </template>
    <script>
        Polymer({
            is: "campus-core-teacher",

            properties: {
                /*
                 * 教師 (zh-tw), 教师 (zh-cn), Teacher (en-us)
                 */
                title: {
                    type: Object,
                    value: {
                        'zh-tw': '教師',
                        'zh-cn': '教师',
                        'en-us': 'Teacher'
                    },
                    readOnly: true
                },
                _page: {
                    type: String,
                    value: 'info'
                },
                _batch: {
                    type: String,
                    value: 'export'
                },
                _importStatus: {
                    type: Object,
                    value: {
                        type: 'all',
                        status: false,
                        all: 0,
                        add: 0,
                        update: 0,
                        error: 0
                    }
                }
            },

            behaviors: [Campus.TranslateBehavior, Campus.ServiceBehavior, Campus.AjaxBehavior],

            observers: ['_filterImports(_importStatus.type)'],

            ready: function() {
                this.initTranslate({
                    'default': 'zh-tw',
                    'zh-tw': {
                        '_00': '系統編號',
                        '_01': '姓名',
                        '_02': '性別',
                        '_03': '暱稱',
                        '_04': '帳號',
                        '_05': '密碼',
                        '_06': '教師代碼',
                        '_07': '男',
                        '_08': '女',
                        '_09': '欄位標頭已複製到剪貼簿',
                        '_10': '儲存',
                        '_11': '刪除',
                        '_12': '確定',
                        '_13': '取消',
                        '_14': '更新失敗，請確認資料是否正確',
                        '_15': '筆選取的資料，已複製到剪貼簿',
                        '_16': '已同步',
                        '_17': '基本資料',
                        '_18': '解析',
                        '_19': '匯出',
                        '_20': '匯入',
                        '_21': '新增',
                        '_22': '更新',
                        '_23': '錯誤',
                        '_24': '全部',
                        '_25': '上傳',
                        '_26': '上傳完成',
                        '_27': '複製',
                        '_28': '姓名+暱稱重覆',
                        '_29': '帳號重覆',
                        '_30': '教師代碼重覆',
                        '_31': '同步帳號',
                        '_32': '請輸入管理員資訊',
                        '_33': '網域',
                        '_34': '帳號',
                        '_35': '密碼',
                        '_36': '貼上資料',
                        '_37': 'A. 請先於「匯出」點選「複製」取得資料欄位標頭，並貼上至Excel進行資料編輯。',
                        '_38': 'B. 編輯完成後，請全選Excel資料進行複製，貼至該頁面之「貼上資料」欄，並點選「解析」。',
                        '_39': 'C. 若解析出現錯誤，請依循錯誤進行資料修正後，再重新貼入進行解析。',
                        '_40': 'D. 若解析後，顯示「新增」或「更新」，即可點選「上傳」，完成基本資料新增。',
                        '_41': '必填欄位：姓名；姓名加暱稱不得重複。',
                        '_42': '勿刪除：系統編號欄位。'
                    },
                    'zh-cn': {
                        '_00': '系统编号',
                        '_01': '姓名',
                        '_02': '性別',
                        '_03': '昵称',
                        '_04': '帐号',
                        '_05': '密码',
                        '_06': '教师代码',
                        '_07': '男',
                        '_08': '女',
                        '_09': '栏位标头已复制到剪贴簿',
                        '_10': '储存',
                        '_11': '删除',
                        '_12': '确定',
                        '_13': '取消',
                        '_14': '更新失败，请确认资料是否正确',
                        '_15': '笔选取的资料，已复制到剪贴簿',
                        '_16': '已同步',
                        '_17': '基本资料',
                        '_18': '解析',
                        '_19': '导出',
                        '_20': '导入',
                        '_21': '新增',
                        '_22': '更新',
                        '_23': '错误',
                        '_24': '全部',
                        '_25': '上传',
                        '_26': '上传完成',
                        '_27': '复制',
                        '_28': '姓名+昵称重复',
                        '_29': '帐号重覆',
                        '_30': '教师代码重覆',
                        '_31': '同步帐号',
                        '_32': '请输入管理员资讯',
                        '_33': '网域',
                        '_34': '帐号',
                        '_35': '密码',
                        '_36': '贴上资料',
                        '_37': 'A. 請先於「匯出」點選「複製」取得資料欄位標頭，並貼上至Excel進行資料編輯。',
                        '_38': 'B. 編輯完成後，請全選Excel資料進行複製，貼至該頁面之「貼上資料」欄，並點選「解析」。',
                        '_39': 'C. 若解析出現錯誤，請依循錯誤進行資料修正後，再重新貼入進行解析。',
                        '_40': 'D. 若解析後，顯示「新增」或「更新」，即可點選「上傳」，完成基本資料新增。',
                        '_41': '必填欄位：姓名；姓名加暱稱不得重複。',
                        '_42': '勿刪除：系統編號欄位。'
                    },
                    'en-us': {
                        '_00': 'UID',
                        '_01': 'Name',
                        '_02': 'Gender',
                        '_03': 'Nickname',
                        '_04': 'Account',
                        '_05': 'Password',
                        '_06': 'Teacher Code',
                        '_07': 'Male',
                        '_08': 'Female',
                        '_09': 'Column title copy to clipboard',
                        '_10': 'Save',
                        '_11': 'Delete',
                        '_12': 'Sumit',
                        '_13': 'Cancel',
                        '_14': 'Update failed',
                        '_15': 'items copy to clipboard',
                        '_16': 'Synced',
                        '_17': 'Info',
                        '_18': 'Parse',
                        '_19': 'Export',
                        '_20': 'Import',
                        '_21': 'Add',
                        '_22': 'Update',
                        '_23': 'Error',
                        '_24': 'All',
                        '_25': 'Upload',
                        '_26': 'Upload complete',
                        '_27': 'Copy',
                        '_28': 'Duplicate name + nickname',
                        '_29': 'Duplicate account',
                        '_30': 'Duplicate teacher code',
                        '_31': 'Synced',
                        '_32': 'Administrator information',
                        '_33': 'Domain',
                        '_34': 'Account',
                        '_35': 'Password',
                        '_36': 'Paste data',
                        '_37': 'A. 請先於「匯出」點選「複製」取得資料欄位標頭，並貼上至Excel進行資料編輯。',
                        '_38': 'B. 編輯完成後，請全選Excel資料進行複製，貼至該頁面之「貼上資料」欄，並點選「解析」。',
                        '_39': 'C. 若解析出現錯誤，請依循錯誤進行資料修正後，再重新貼入進行解析。',
                        '_40': 'D. 若解析後，顯示「新增」或「更新」，即可點選「上傳」，完成基本資料新增。',
                        '_41': '必填欄位：姓名；姓名加暱稱不得重複。',
                        '_42': '勿刪除：系統編號欄位。'
                    }
                });

                this._getTeachers();
                this._getAllTeachers();
            },

            _statusChanged: function() {
                if (this.$.exporttable) {
                    this.$.exporttable.deselectAll();
                    this.$.exporttable.reset();
                }

                this._getTeachers();
            },

            _computeGender: function(value) {
                return value === '1' ? this.translate._07 : (value === '0' ? this.translate._08 : '');
            },

            _computeSynced: function(value) {
                return value === 'true' ? 'icons:done' : '';
            },

            _getTeachers: function() {
                var request = {
                    contract: 'campus.core',
                    service: 'teacher.get',
                    body: ['<status>', this._status ? 256 : 1, '</status>'].join('')
                };

                this.generateRequest(request, function(response) {
                    if (response && response.teachers) {
                        var items = [].concat(response.teachers.teacher || []);
                        this.set('teachers', items);
                    }
                }.bind(this));
            },

            _getAllTeachers: function() {
                var request = {
                    contract: 'campus.core',
                    service: 'teacher.get',
                    body: ''
                };

                this.generateRequest(request, function(response) {
                    if (response && response.teachers) {
                        var items = [].concat(response.teachers.teacher || []);
                        this.set('allTeachers', items);
                    }
                }.bind(this));
            },

            _regenerateCode: function(e) {
                this.set('editObject.teacher_code', Math.ceil(Math.random() * Date.now()).toString(16).substr(2, 6).toUpperCase());
            },

            _removeCode: function(e) {
                this.set('editObject.teacher_code', '');
            },

            _openEditDialog: function(e) {
                if (e.detail && e.detail.item) {
                    this.set('editObject', {
                        id: e.detail.item.id,
                        teacher_name: e.detail.item.teacher_name,
                        gender: e.detail.item.gender,
                        teacher_nickname: e.detail.item.teacher_nickname,
                        account: e.detail.item.account,
                        password: e.detail.item.password,
                        teacher_code: e.detail.item.teacher_code,
                        status: e.detail.item.status,
                        delete: e.detail.item.status === '256'
                    });
                } else
                    this.set('editObject', {
                        isAddNew: true,
                        status: false
                    });

                this.$.editDialog.open();
            },

            _closeEditDialog: function(e) {
                var request = {
                    contract: 'campus.core',
                    service: 'teacher.set',
                    body: [
                        '<teacher_name>', this.editObject.teacher_name, '</teacher_name>',
                        '<gender>', this.editObject.gender, '</gender>',
                        '<teacher_nickname>', this.editObject.teacher_nickname, '</teacher_nickname>',
                        '<account>', this.editObject.account, '</account>',
                        '<password>', this.editObject.password, '</password>',
                        '<teacher_code>', this.editObject.teacher_code, '</teacher_code>',
                        '<status>', this.editObject.delete ? 256 : 1, '</status>'
                    ]
                };

                if (this.editObject.id)
                    request.body.push(['<id>', this.editObject.id, '</id>'].join(''))

                request.body = request.body.join('');

                this.generateRequest(request, function(response) {
                    if (response && response.Message === 'Well done!') {
                        this._getTeachers();
                        this.$.editDialog.close();
                    } else {
                        this.$.toast.show({
                            text: this.translate._14,
                            duration: 1000
                        });
                    }
                }.bind(this));
            },

            _export: function() {
                var items = [
                    [this.translate._00, this.translate._01, this.translate._02, this.translate._03, this.translate._06.split(' ').join(''), this.translate._04, this.translate._05].join('\t')
                ];
                this.$.exporttable.selectedItems.forEach(function(item) {
                    items.push([item.id, item.teacher_name.trim(), item.gender === '1' ? this.translate._07 : this.translate._08, item.teacher_nickname.trim(), item.teacher_code.trim(), item.account.trim(), item.password.trim()].join('\t'));
                }.bind(this));

                this.set('clipboardData', items.join('\n'));
                this.$.clipboard.style.display = 'block';
                this.$.clipboard.select();
                document.execCommand('copy');
                this.$.clipboard.style.display = 'none';

                this.$.toast.show({
                    text: items.length - 1 === 0 ? this.translate._09 : [items.length - 1, this.translate._15].join(' '),
                    duration: 1000
                });
            },

            _parse: function() {
                if (!this.importData) return;

                var items = [],
                    data = this.importData.split("\n");
                data.shift();
                data.forEach(function(d, index) {
                    var temp = d.replace(/\t/ig, ',').split(',');
                    temp.forEach(function(t, index) {
                        temp[index] = temp[index].replace(/"/ig, '').replace(/　/ig, '');
                    });

                    if (!(temp[0].trim() === '' &&
                            temp[1].trim() === '' &&
                            temp[2].trim() === '' &&
                            temp[3].trim() === '' &&
                            temp[4].trim() === '' &&
                            temp[5].trim() === '' &&
                            temp[6].trim() === '')) {

                        var item = {
                            type: (temp[0] || '').trim() === '' ? 'add' : 'update',
                            index: ['#', index + 1].join(''),
                            id: (temp[0] || '').trim(),
                            teacher_name: (temp[1] || '').trim(),
                            gender: (temp[2] || '').trim(),
                            teacher_nickname: (temp[3] || '').trim(),
                            teacher_code: (temp[4] || '').trim().toLowerCase() === 'auto' ? Math.ceil(Math.random() * Date.now()).toString(16).substr(2, 6).toUpperCase() : (temp[4] || '').trim(),
                            account: (temp[5] || '').trim(),
                            password: (temp[6] || '').trim()
                        }

                        var errors = [],
                            rule1 = false, // 姓名+暱稱重覆
                            rule2 = false, // 帳號重覆
                            rule3 = false; // 教師代碼重覆
                        this.allTeachers.forEach(function(t) {
                            // 姓名+暱稱重覆
                            if (t.teacher_name.toUpperCase() === item.teacher_name.toUpperCase() && t.teacher_nickname.toUpperCase() === item.teacher_nickname.toUpperCase() && t.id !== item.id)
                                rule1 = true;

                            // 帳號重覆
                            if (t.account.toUpperCase() === item.account.toUpperCase() && t.account !== '' && t.id !== item.id)
                                rule2 = true;

                            // 教師代碼重覆
                            if (t.teacher_code.toUpperCase() === item.teacher_code.toUpperCase() && t.teacher_code !== '' && t.id !== item.id)
                                rule3 = true;
                        });

                        if (rule1) errors.push(this.translate._28);
                        if (rule2) errors.push(this.translate._29);
                        if (rule3) errors.push(this.translate._30);

                        item.error_message = errors.join(", ");
                        item.type = errors.length > 0 ? 'error' : item.type;

                        items.push(item);
                    }
                }.bind(this));

                var count = [items.length, 0, 0, 0];
                items.forEach(function(item) {
                    if (item.type === 'add')
                        count[1] += 1;
                    if (item.type === 'update')
                        count[2] += 1;
                    if (item.type === 'error')
                        count[3] += 1;
                });

                this.set('_importStatus.all', count[0]);
                this.set('_importStatus.add', count[1]);
                this.set('_importStatus.update', count[2]);
                this.set('_importStatus.error', count[3]);
                this.set('_importStatus.status', count[3] === 0 && items.length > 0);

                this.set('imports', items);
                this.set('originImports', items);
            },

            _filterImports: function(value) {
                if (!this.originImports) return;

                var items = [];
                this.originImports.forEach(function(item) {
                    if (item.type === value || value === 'all')
                        items.push(item);
                });

                this.set('imports', items);
            },

            _import: function() {
                var items = [];
                this.originImports.forEach(function(item) {
                    items.push([
                        '<teacher>',
                        '<id>', item.id, '</id>',
                        '<teacher_name>', item.teacher_name, '</teacher_name>',
                        '<gender>', ['男', '男', 'male', 'm', 'true', 't'].indexOf(item.gender.toLowerCase()) !== -1 ? 1 : 0, '</gender>',
                        '<teacher_nickname>', item.teacher_nickname, '</teacher_nickname>',
                        '<account>', item.account, '</account>',
                        '<password>', item.password, '</password>',
                        '<teacher_code>', item.teacher_code, '</teacher_code>',
                        '</teacher>'
                    ].join(''));
                });

                var request = {
                    contract: 'campus.core',
                    service: 'teacher.batch',
                    body: items.join('')
                };

                this.generateRequest(request, function(response) {
                    if (response && response.Message === 'Well done!') {
                        this.set('importData', '');
                        this.set('imports', []);
                        this.set('originImports', []);

                        this.set('_importStatus', {
                            type: 'all',
                            status: false,
                            all: 0,
                            add: 0,
                            update: 0,
                            error: 0
                        });

                        this._getTeachers();

                        this.$.toast.show({
                            text: this.translate._26,
                            duration: 1000
                        });
                    } else {
                        this.$.toast.show({
                            text: this.translate._14,
                            duration: 1000
                        });
                    }
                }.bind(this));
            },

            _openSyncedDialog: function() {
                this.set('_syncAdmin', {
                    domain: '',
                    account: '',
                    password: ''
                });
                this.$.syncedDialog.open();
            },

            _closeSyncedDialog: function() {
                var accounts = [];
                this.teachers.forEach(function(item) {
                    var acc = item.account.split('@');
                    if (acc.length === 2 && acc[1] === this._syncAdmin.domain && item.password !== '') {
                        accounts.push({
                            acc: item.account,
                            pwd: item.password,
                            firstName: item.teacher_name,
                            lastName: item.teacher_nickname
                        });
                    }
                }.bind(this));

                this._syncAccount(accounts);
            },

            _syncAccount: function(accounts) {
                this.ajax({
                    method: 'POST',
                    url: [Campus.authServer, '/c/1campus.service/applicationAccounts.php'].join(''),
                    request: {
                        "application": Campus.school.dsns,
                        "domain": {
                            "name": this._syncAdmin.domain,
                            "acc": this._syncAdmin.account,
                            "pwd": this._syncAdmin.password
                        },
                        "list": accounts
                    },
                    responseType: 'json'
                }, function(response, xhr) {
                    if (response.status === 'success')
                        this._upateSyncedAccount();
                    else
                        this.$.toast.show({
                            text: this.translate._14,
                            duration: 1000
                        });
                }.bind(this));
            },

            _upateSyncedAccount: function() {
                var items = [];
                this.teachers.forEach(function(item) {
                    var acc = item.account.split('@');
                    if (acc.length === 2 && acc[1] === this._syncAdmin.domain && item.password !== '') {
                        items.push([
                            '<teacher>',
                            '<id>', item.id, '</id>',
                            '<synced>', item.account, ':', item.password, '</synced>',
                            '</teacher>'
                        ].join(''));
                    }
                }.bind(this));

                var request = {
                    contract: 'campus.core',
                    service: 'teacher.batch',
                    body: items.join('')
                };

                this.generateRequest(request, function(response) {
                    if (response && response.Message === 'Well done!') {
                        this._getTeachers();
                        this.$.syncedDialog.close();
                    } else {
                        this.$.toast.show({
                            text: this.translate._14,
                            duration: 1000
                        });
                    }
                }.bind(this));
            }
        });
    </script>
</dom-module>
