<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../iron-pages/iron-pages.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-dialog/paper-dialog.html">
<link rel="import" href="../paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../paper-header-panel/paper-header-panel.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-input/paper-textarea.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../paper-listbox/paper-listbox.html">
<link rel="import" href="../paper-material/paper-material.html">
<link rel="import" href="../paper-tabs/paper-tabs.html">
<link rel="import" href="../paper-tabs/paper-tab.html">
<link rel="import" href="../paper-toast/paper-toast.html">
<link rel="import" href="../paper-toolbar/paper-toolbar.html">
<link rel="import" href="../campus-behavior/campus-behavior.html">
<link rel="import" href="../paper-datatable/paper-datatable.html">
<link rel="import" href="../paper-datatable/paper-datatable-column.html">
<!--
`campus-core-class`
@demo demo/campus-core-class.html
-->
<dom-module id="campus-core-class">
    <style include="iron-flex iron-flex-alignment"></style>
    <style>
        :host {
            display: block;
            position: relative;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            background: #f2f2f2;
            height: 100%;
        }
        
        :host .header {
            max-width: 736px;
        }
        
        :host .content {
            max-width: 768px;
        }
        
        @media (min-width: 769px) {
            :host .header {
                margin: 0 auto;
            }
            :host .content {
                padding: 12px;
                margin: 0 auto;
            }
        }
    </style>
    <template>
        <paper-header-panel main mode="waterfall">
            <paper-toolbar>
                <div class="flex-auto layout horizontal center header">
                    <paper-tabs selected="{{_page}}" attr-for-selected="value">
                        <paper-tab value="info">{{translate._13}}</paper-tab>
                        <paper-tab value="export">{{translate._15}}</paper-tab>
                        <paper-tab value="import">{{translate._16}}</paper-tab>
                    </paper-tabs>
                </div>
            </paper-toolbar>
            <div class="content">
                <iron-pages selected="{{_page}}" attr-for-selected="value">
                    <paper-material value="info" style="background:#fff">
                        <div class="layout horizontal center" style="padding:12px 16px">
                            <div class="flex-auto"></div>
                            <paper-button on-tap="_openEditDialog">
                                <iron-icon icon="icons:add"></iron-icon>
                                <span style="margin-left:4px">{{translate._17}}</span>
                            </paper-button>
                        </div>
                        <paper-datatable data="{{classes}}" on-row-tap="_openEditDialog">
                            <paper-datatable-column header="{{translate._01}}" property="grade_year" cell-style="white-space:nowrap"></paper-datatable-column>
                            <paper-datatable-column header="{{translate._02}}" property="class_name" cell-style="white-space:nowrap"></paper-datatable-column>
                            <paper-datatable-column header="{{translate._03}}" property="teacher_label" cell-style="white-space:nowrap"></paper-datatable-column>
                            <paper-datatable-column header="{{translate._04}}" property="students" cell-style="white-space:nowrap"></paper-datatable-column>
                        </paper-datatable>
                    </paper-material>
                    <paper-material value="export" style="background:#fff">
                        <div class="layout horizontal center" style="padding:12px 16px">
                            <div class="flex-auto"></div>
                            <paper-button on-tap="_export">
                                <iron-icon icon="icons:content-copy"></iron-icon>
                                <span style="margin-left:4px">{{translate._23}}</span>
                            </paper-button>
                        </div>
                        <paper-datatable id="exporttable" data="{{classes}}" selectable multi-selection>
                            <paper-datatable-column header="{{translate._01}}" property="grade_year" cell-style="white-space:nowrap"></paper-datatable-column>
                            <paper-datatable-column header="{{translate._02}}" property="class_name" cell-style="white-space:nowrap"></paper-datatable-column>
                            <paper-datatable-column header="{{translate._03}}" property="teacher_label" cell-style="white-space:nowrap"></paper-datatable-column>
                            <paper-datatable-column header="{{translate._04}}" property="students" cell-style="white-space:nowrap"></paper-datatable-column>
                        </paper-datatable>
                    </paper-material>
                    <paper-material value="import" style="background:#fff">
                        <div style="padding:16px">
                            <div>{{translate._27}}</div>
                            <div>{{translate._28}}</div>
                            <div>{{translate._29}}</div>
                            <div>{{translate._30}}</div>
                            <div>&nbsp;</div>
                            <div>{{translate._31}}</div>
                            <div>{{translate._32}}</div>
                        </div>
                        <div style="padding:16px 16px 0">
                            <paper-textarea label="{{translate._26}}" max-rows="3" value="{{importData}}"></paper-textarea>
                        </div>
                        <div class="layout horizontal center wrap" style="padding:0 16px">
                            <paper-listbox selected="{{_importStatus.type}}" attr-for-selected="value" class="layout horizontal center">
                                <paper-item value="all" style="cursor:pointer">{{translate._20}} ({{_importStatus.all}})</paper-item>
                                <paper-item value="add" style="cursor:pointer;color:#1976d2">{{translate._17}} ({{_importStatus.add}})</paper-item>
                                <paper-item value="update" style="cursor:pointer;color:#388e3c">{{translate._18}} ({{_importStatus.update}})</paper-item>
                                <paper-item value="error" style="cursor:pointer;color:#d32f2f">{{translate._19}} ({{_importStatus.error}})</paper-item>
                            </paper-listbox>
                            <div class="flex-auto"></div>
                            <paper-button on-tap="_import" hidden$="{{!_importStatus.status}}">
                                <iron-icon icon="icons:cloud-upload"></iron-icon>
                                <span style="margin-left:4px">{{translate._21}}</span>
                            </paper-button>
                            <paper-button on-tap="_parse">
                                <iron-icon icon="icons:find-in-page"></iron-icon>
                                <span style="margin-left:4px">{{translate._14}}</span>
                            </paper-button>
                        </div>
                        <paper-datatable data="{{imports}}">
                            <paper-datatable-column property="type" cell-style="white-space:nowrap">
                                <template>
                                    <iron-pages selected="{{value}}" attr-for-selected="value">
                                        <div value="add" style="color:#1976d2">{{item.index}} {{translate._17}}</div>
                                        <div value="update" style="color:#388e3c">{{item.index}} {{translate._18}}</div>
                                        <div value="error" style="color:#d32f2f">{{item.index}} {{translate._19}}</div>
                                    </iron-pages>
                                </template>
                            </paper-datatable-column>
                            <paper-datatable-column property="error_message" cell-style="white-space:nowrap;color:#d32f2f"></paper-datatable-column>
                            <paper-datatable-column header="{{translate._00}}" property="id" cell-style="white-space:nowrap"></paper-datatable-column>
                            <paper-datatable-column header="{{translate._01}}" property="grade_year" cell-style="white-space:nowrap"></paper-datatable-column>
                            <paper-datatable-column header="{{translate._02}}" property="class_name" cell-style="white-space:nowrap"></paper-datatable-column>
                            <paper-datatable-column header="{{translate._03}}" property="teacher_label" cell-style="white-space:nowrap"></paper-datatable-column>
                        </paper-datatable>
                    </paper-material>
                </iron-pages>
            </div>
        </paper-header-panel>
        <paper-toast id="toast"></paper-toast>
        <paper-dialog id="editDialog" modal>
            <paper-dialog-scrollable>
                <paper-input label="{{translate._01}}" value="{{editObject.grade_year}}"></paper-input>
                <paper-input label="{{translate._02}}" value="{{editObject.class_name}}"></paper-input>
                <paper-dropdown-menu label="{{translate._03}}">
                    <paper-listbox class="dropdown-content" selected="{{editObject.teacher_label}}" attr-for-selected="value">
                        <paper-item value=""></paper-item>
                        <template is="dom-repeat" items="{{teachers}}">
                            <paper-item value="{{item.teacher_label}}">{{item.teacher_label}}</paper-item>
                        </template>
                    </paper-listbox>
                </paper-dropdown-menu>
            </paper-dialog-scrollable>
            <div class="buttons">
                <paper-button dialog-dismiss>{{translate._08}}</paper-button>
                <paper-button on-tap="_openDeleteDialog" dialog-dismiss hidden$="{{editObject.isAddNew}}">{{translate._12}}</paper-button>
                <paper-button on-tap="_closeEditDialog">{{translate._11}}</paper-button>
            </div>
        </paper-dialog>
        <paper-dialog id="deleteDialog" modal on-iron-overlay-closed="_closeDeleteDialog">
            <h2>{{translate._06}} [{{editObject.class_name}}]?</h2>
            <div class="buttons">
                <paper-button dialog-dismiss>{{translate._08}}</paper-button>
                <paper-button dialog-confirm>{{translate._07}}</paper-button>
            </div>
        </paper-dialog>
        <textarea id="clipboard" value="{{clipboardData}}" style="display:none"></textarea>
    </template>
    <script>
        Polymer({
            is: "campus-core-class",

            properties: {
                /*
                 * 班級 (zh-tw), 班级 (zh-cn), Class (en-us)
                 */
                title: {
                    type: Object,
                    value: {
                        'zh-tw': '班級',
                        'zh-cn': '班级',
                        'en-us': 'Class'
                    },
                    readOnly: true
                },
                _page: {
                    type: String,
                    value: 'info'
                },
                _batch: {
                    type: String,
                    value: 'export'
                },
                _importStatus: {
                    type: Object,
                    value: {
                        type: 'all',
                        status: false,
                        all: 0,
                        add: 0,
                        update: 0,
                        error: 0
                    }
                }
            },

            behaviors: [Campus.TranslateBehavior, Campus.ServiceBehavior],

            observers: ['_filterImports(_importStatus.type)'],

            ready: function() {
                this.initTranslate({
                    'default': 'zh-tw',
                    'zh-tw': {
                        '_00': '系統編號',
                        '_01': '年級',
                        '_02': '班級名稱',
                        '_03': '教師',
                        '_04': '學生',
                        '_05': '欄位標頭已複製到剪貼簿',
                        '_06': '確定刪除',
                        '_07': '確定',
                        '_08': '取消',
                        '_09': '更新失敗，請確認資料是否正確',
                        '_10': '筆選取的資料，已複製到剪貼簿',
                        '_11': '儲存',
                        '_12': '刪除',
                        '_13': '基本資料',
                        '_14': '解析',
                        '_15': '匯出',
                        '_16': '匯入',
                        '_17': '新增',
                        '_18': '更新',
                        '_19': '錯誤',
                        '_20': '全部',
                        '_21': '上傳',
                        '_22': '上傳完成',
                        '_23': '複製',
                        '_24': '班級名稱重覆',
                        '_25': '教師不存在',
                        '_26': '貼上資料',
                        '_27': 'A. 請先於「匯出」點選「複製」取得資料欄位標頭，並貼上至Excel進行資料編輯。',
                        '_28': 'B. 編輯完成後，請全選Excel資料進行複製，貼至該頁面之「貼上資料」欄，並點選「解析」。',
                        '_29': 'C. 若解析出現錯誤，請依循錯誤進行資料修正後，再重新貼入進行解析。',
                        '_30': 'D. 若解析後，顯示「新增」或「更新」，即可點選「上傳」，完成基本資料新增。',
                        '_31': '必填欄位：班級名稱；名稱不得重複。',
                        '_32': '勿刪除：系統編號欄位。'
                    },
                    'zh-cn': {
                        '_00': '系统编号',
                        '_01': '年级',
                        '_02': '班级名称',
                        '_03': '教师',
                        '_04': '学生',
                        '_05': '栏位标头已复制到剪贴簿',
                        '_06': '确定删除',
                        '_07': '确定',
                        '_08': '取消',
                        '_09': '更新失败，请确认资料是否正确',
                        '_10': '笔选取的资料，已复制到剪贴簿',
                        '_11': '储存',
                        '_12': '删除',
                        '_13': '基本资料',
                        '_14': '解析',
                        '_15': '导出',
                        '_16': '导入',
                        '_17': '新增',
                        '_18': '更新',
                        '_19': '错误',
                        '_20': '全部',
                        '_21': '上传',
                        '_22': '上传完成',
                        '_23': '复制',
                        '_24': '班级名称重复',
                        '_25': '教师不存在',
                        '_26': '贴上资料',
                        '_27': 'A. 請先於「匯出」點選「複製」取得資料欄位標頭，並貼上至Excel進行資料編輯。',
                        '_28': 'B. 編輯完成後，請全選Excel資料進行複製，貼至該頁面之「貼上資料」欄，並點選「解析」。',
                        '_29': 'C. 若解析出現錯誤，請依循錯誤進行資料修正後，再重新貼入進行解析。',
                        '_30': 'D. 若解析後，顯示「新增」或「更新」，即可點選「上傳」，完成基本資料新增。',
                        '_31': '必填欄位：班級名稱；名稱不得重複。',
                        '_32': '勿刪除：系統編號欄位。'
                    },
                    'en-us': {
                        '_00': 'UID',
                        '_01': 'Grade',
                        '_02': 'Class Name',
                        '_03': 'Teacher',
                        '_04': 'Student',
                        '_05': 'Column title copy to clipboard',
                        '_06': 'Delete',
                        '_07': 'Sumit',
                        '_08': 'Cancel',
                        '_09': 'Update failed',
                        '_10': 'items copy to clipboard',
                        '_11': 'Save',
                        '_12': 'Delete',
                        '_13': 'Info',
                        '_14': 'Parse',
                        '_15': 'Export',
                        '_16': 'Import',
                        '_17': 'Add',
                        '_18': 'Update',
                        '_19': 'Error',
                        '_20': 'All',
                        '_21': 'Upload',
                        '_22': 'Upload complete',
                        '_23': 'Copy',
                        '_24': 'Duplicate class name',
                        '_25': 'Teacher do not exist',
                        '_26': 'Paste data',
                        '_27': 'A. 請先於「匯出」點選「複製」取得資料欄位標頭，並貼上至Excel進行資料編輯。',
                        '_28': 'B. 編輯完成後，請全選Excel資料進行複製，貼至該頁面之「貼上資料」欄，並點選「解析」。',
                        '_29': 'C. 若解析出現錯誤，請依循錯誤進行資料修正後，再重新貼入進行解析。',
                        '_30': 'D. 若解析後，顯示「新增」或「更新」，即可點選「上傳」，完成基本資料新增。',
                        '_31': '必填欄位：班級名稱；名稱不得重複。',
                        '_32': '勿刪除：系統編號欄位。'
                    }
                });

                this._getClasses();
                this._getTeachers();
            },

            _getClasses: function() {
                var request = {
                    contract: 'campus.core',
                    service: 'class.get',
                    body: ''
                };

                this.generateRequest(request, function(response) {
                    if (response && response.classes) {
                        var items = [].concat(response.classes.class || []);
                        items.forEach(function(item) {
                            item.teacher_label = item.teacher_nickname ? [item.teacher_name, ' (', item.teacher_nickname, ')'].join('') : item.teacher_name;
                        });

                        this.set('classes', items);
                    }
                }.bind(this));
            },

            _getTeachers: function() {
                var request = {
                    contract: 'campus.core',
                    service: 'teacher.get',
                    body: '<status>1</status>'
                };

                this.generateRequest(request, function(response) {
                    if (response && response.teachers) {
                        var items = [].concat(response.teachers.teacher || []);
                        items.forEach(function(item) {
                            item.teacher_label = item.teacher_nickname ? [item.teacher_name, ' (', item.teacher_nickname, ')'].join('') : item.teacher_name;
                        });

                        this.set('teachers', items);
                    }
                }.bind(this));
            },

            _openEditDialog: function(e) {
                if (e.detail && e.detail.item) {
                    this.set('editObject', {
                        id: e.detail.item.id,
                        grade_year: e.detail.item.grade_year,
                        class_name: e.detail.item.class_name,
                        teacher_label: e.detail.item.teacher_label
                    });
                } else
                    this.set('editObject', {
                        isAddNew: true
                    });

                this.$.editDialog.open();
            },

            _closeEditDialog: function(e) {
                var teacher;
                this.teachers.forEach(function(t) {
                    if (t.teacher_label === this.editObject.teacher_label)
                        teacher = t;
                }.bind(this));

                var request = {
                    contract: 'campus.core',
                    service: 'class.set',
                    body: [
                        '<grade_year>', this.editObject.grade_year, '</grade_year>',
                        '<class_name>', this.editObject.class_name, '</class_name>',
                        '<ref_teacher_id>', teacher ? teacher.id : '', '</ref_teacher_id>'
                    ]
                };

                if (this.editObject.id)
                    request.body.push(['<id>', this.editObject.id, '</id>'].join(''))

                request.body = request.body.join('');

                this.generateRequest(request, function(response) {
                    if (response && response.Message === 'Well done!') {
                        this._getClasses();
                        this.$.editDialog.close();
                    } else {
                        this.$.toast.show({
                            text: this.translate._09,
                            duration: 1000
                        });
                    }
                }.bind(this));
            },

            _openDeleteDialog: function() {
                this.$.deleteDialog.open();
            },

            _closeDeleteDialog: function(e) {
                if (e.detail.confirmed) {
                    var request = {
                        contract: 'campus.core',
                        service: 'class.delete',
                        body: ['<id>', this.editObject.id, '</id>'].join('')
                    };

                    this.generateRequest(request, function(response) {
                        if (response && response.Message === 'Well done!') {
                            this._getClasses();
                        } else {
                            this.$.toast.show({
                                text: this.translate._09,
                                duration: 1000
                            });
                        }
                    }.bind(this));
                }
            },

            _export: function() {
                var items = [
                    [this.translate._00, this.translate._01, this.translate._02, this.translate._03].join('\t')
                ];
                this.$.exporttable.selectedItems.forEach(function(item) {
                    items.push([item.id, item.grade_year, item.class_name.trim(), item.teacher_label].join('\t'));
                });

                this.set('clipboardData', items.join('\n'));
                this.$.clipboard.style.display = 'block';
                this.$.clipboard.select();
                document.execCommand('copy');
                this.$.clipboard.style.display = 'none';

                this.$.toast.show({
                    text: items.length - 1 === 0 ? this.translate._05 : [items.length - 1, this.translate._10].join(' '),
                    duration: 1000
                });
            },

            _parse: function() {
                if (!this.importData) return;

                var items = [],
                    data = this.importData.split("\n");
                data.shift();
                data.forEach(function(d, index) {
                    var temp = d.replace(/\t/ig, ',').split(',');
                    temp.forEach(function(t, index) {
                        temp[index] = temp[index].replace(/"/ig, '').replace(/　/ig, '');
                    });

                    if (!(temp[0].trim() === '' &&
                            temp[1].trim() === '' &&
                            temp[2].trim() === '' &&
                            temp[3].trim() === '')) {

                        var item = {
                            type: (temp[0] || '').trim() === '' ? 'add' : 'update',
                            index: ['#', index + 1].join(''),
                            id: (temp[0] || '').trim(),
                            grade_year: (temp[1] || '').trim(),
                            class_name: (temp[2] || '').trim(),
                            teacher_label: (temp[3] || '').trim()
                        }

                        var errors = [],
                            rule1 = false, // 班級名稱重覆
                            rule2 = false; // 教師不存在
                        this.classes.forEach(function(c) {
                            if (c.class_name.toUpperCase() === item.class_name.toUpperCase() && c.id !== item.id)
                                rule1 = true;
                        });

                        if (rule1) errors.push(this.translate._24);

                        if (item.teacher_label !== '') {
                            this.teachers.forEach(function(t) {
                                if (t.teacher_label.toUpperCase() === item.teacher_label.toUpperCase()) {
                                    item.ref_teacher_id = t.id;
                                    rule2 = true;
                                }
                            });

                            if (!rule2) errors.push(this.translate._25);
                        } else
                            item.ref_teacher_id = '';

                        item.error_message = errors.join(", ");
                        item.type = errors.length > 0 ? 'error' : item.type;

                        items.push(item);
                    }
                }.bind(this));

                var count = [items.length, 0, 0, 0];
                items.forEach(function(item) {
                    if (item.type === 'add')
                        count[1] += 1;
                    if (item.type === 'update')
                        count[2] += 1;
                    if (item.type === 'error')
                        count[3] += 1;
                });

                this.set('_importStatus.all', count[0]);
                this.set('_importStatus.add', count[1]);
                this.set('_importStatus.update', count[2]);
                this.set('_importStatus.error', count[3]);
                this.set('_importStatus.status', count[3] === 0 && items.length > 0);

                this.set('imports', items);
                this.set('originImports', items);
            },

            _filterImports: function(value) {
                if (!this.originImports) return;

                var items = [];
                this.originImports.forEach(function(item) {
                    if (item.type === value || value === 'all')
                        items.push(item);
                });

                this.set('imports', items);
            },

            _import: function() {
                var items = [];
                this.originImports.forEach(function(item) {
                    items.push([
                        '<class>',
                        '<id>', item.id, '</id>',
                        '<grade_year>', item.grade_year, '</grade_year>',
                        '<class_name>', item.class_name, '</class_name>',
                        '<ref_teacher_id>', item.ref_teacher_id, '</ref_teacher_id>',
                        '</class>'
                    ].join(''));
                });

                var request = {
                    contract: 'campus.core',
                    service: 'class.batch',
                    body: items.join('')
                };

                this.generateRequest(request, function(response) {
                    if (response && response.Message === 'Well done!') {
                        this.set('importData', '');
                        this.set('imports', []);
                        this.set('originImports', []);

                        this.set('_importStatus', {
                            type: 'all',
                            status: false,
                            all: 0,
                            add: 0,
                            update: 0,
                            error: 0
                        });

                        this._getClasses();

                        this.$.toast.show({
                            text: this.translate._22,
                            duration: 1000
                        });
                    } else {
                        this.$.toast.show({
                            text: this.translate._09,
                            duration: 1000
                        });
                    }
                }.bind(this));
            }
        });
    </script>
</dom-module>
