<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../iron-pages/iron-pages.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-checkbox/paper-checkbox.html">
<link rel="import" href="../paper-dialog/paper-dialog.html">
<link rel="import" href="../paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../paper-header-panel/paper-header-panel.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-input/paper-textarea.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../paper-listbox/paper-listbox.html">
<link rel="import" href="../paper-material/paper-material.html">
<link rel="import" href="../paper-tabs/paper-tabs.html">
<link rel="import" href="../paper-tabs/paper-tab.html">
<link rel="import" href="../paper-toast/paper-toast.html">
<link rel="import" href="../paper-toolbar/paper-toolbar.html">
<link rel="import" href="../campus-behavior/campus-behavior.html">
<link rel="import" href="../paper-datatable/paper-datatable.html">
<link rel="import" href="../paper-datatable/paper-datatable-column.html">
<!--
`campus-core-student`
@demo demo/campus-core-student.html
-->
<dom-module id="campus-core-student">
    <style include="iron-flex iron-flex-alignment"></style>
    <style>
        :host {
            display: block;
            position: relative;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            background: #f2f2f2;
            height: 100%;
        }
        
        :host .header {
            max-width: 931px;
        }
        
        :host .content {
            max-width: 963px;
        }
        
        @media (min-width: 769px) {
            :host .header {
                margin: 0 auto;
            }
            :host .content {
                padding: 12px;
                margin: 0 auto;
            }
        }
    </style>
    <template>
        <paper-header-panel mode="waterfall">
            <paper-toolbar>
                <div class="flex-auto layout horizontal center header">
                    <paper-tabs selected="{{_page}}" attr-for-selected="value">
                        <paper-tab value="info">{{translate._21}}</paper-tab>
                        <paper-tab value="export">{{translate._23}}</paper-tab>
                        <paper-tab value="import">{{translate._24}}</paper-tab>
                    </paper-tabs>
                </div>
            </paper-toolbar>
            <div class="content">
                <iron-pages selected="{{_page}}" attr-for-selected="value">
                    <paper-material value="info" style="background:#fff">
                        <div class="layout horizontal center" style="padding:2px 16px" hidden$="{{status}}">
                            <paper-dropdown-menu label="{{translate._02}}">
                                <paper-listbox class="dropdown-content" selected="{{clazz}}" attr-for-selected="value">
                                    <template is="dom-repeat" items="{{classes}}">
                                        <paper-item value="{{item}}">{{item.class_name}}</paper-item>
                                    </template>
                                    <paper-item value="unclassified" style="color:#1976d2;border-top:1px solid #ddd">{{translate._20}}</paper-item>
                                    <paper-item value="delete" style="color:#d32f2f">{{translate._15}}</paper-item>
                                </paper-listbox>
                            </paper-dropdown-menu>
                            <div class="flex-auto"></div>
                            <paper-button on-tap="_openEditDialog">
                                <iron-icon icon="icons:add"></iron-icon>
                                <span style="margin-left:4px">{{translate._25}}</span>
                            </paper-button>
                            <paper-button on-tap="_openSyncedDialog">
                                <iron-icon icon="icons:autorenew"></iron-icon>
                                <span style="margin-left:4px">{{translate._37}}</span>
                            </paper-button>
                        </div>
                        <paper-datatable data="{{students}}" on-row-tap="_openEditDialog">
                            <paper-datatable-column header="{{translate._01}}" property="student_number" cell-style="white-space:nowrap"></paper-datatable-column>
                            <paper-datatable-column header="{{translate._02}}" property="class_name" cell-style="white-space:nowrap"></paper-datatable-column>
                            <paper-datatable-column header="{{translate._03}}" property="seat_no" cell-style="white-space:nowrap"></paper-datatable-column>
                            <paper-datatable-column header="{{translate._04}}" property="student_name" cell-style="white-space:nowrap"></paper-datatable-column>
                            <paper-datatable-column header="{{translate._05}}" property="gender" cell-style="white-space:nowrap">
                                <template>
                                    <span>{{_computeGender(value)}}</span>
                                </template>
                            </paper-datatable-column>
                            <paper-datatable-column header="{{translate._08}}" property="student_code" cell-style="white-space:nowrap"></paper-datatable-column>
                            <paper-datatable-column header="{{translate._09}}" property="parent_code" cell-style="white-space:nowrap"></paper-datatable-column>
                            <paper-datatable-column header="{{translate._06}}" property="account" cell-style="white-space:nowrap"></paper-datatable-column>
                            <paper-datatable-column header="{{translate._07}}" property="password" cell-style="white-space:nowrap"></paper-datatable-column>
                            <paper-datatable-column header="{{translate._10}}" property="synced" cell-style="white-space:nowrap">
                                <template>
                                    <iron-icon icon="{{_computeSynced(value)}}"></iron-icon>
                                </template>
                            </paper-datatable-column>
                        </paper-datatable>
                    </paper-material>
                    <paper-material value="export" style="background:#fff">
                        <div class="layout horizontal center" style="padding:2px 16px">
                            <paper-dropdown-menu label="{{translate._02}}">
                                <paper-listbox class="dropdown-content" selected="{{clazz}}" attr-for-selected="value">
                                    <template is="dom-repeat" items="{{classes}}">
                                        <paper-item value="{{item}}">{{item.class_name}}</paper-item>
                                    </template>
                                    <paper-item value="unclassified" style="color:#1976d2;border-top:1px solid #ddd">{{translate._20}}</paper-item>
                                    <paper-item value="delete" style="color:#d32f2f">{{translate._15}}</paper-item>
                                </paper-listbox>
                            </paper-dropdown-menu>
                            <div class="flex-auto"></div>
                            <paper-button on-tap="_export">
                                <iron-icon icon="icons:content-copy"></iron-icon>
                                <span style="margin-left:4px">{{translate._31}}</span>
                            </paper-button>
                        </div>
                        <paper-datatable id="exporttable" data="{{students}}" selectable multi-selection>
                            <paper-datatable-column header="{{translate._01}}" property="student_number" cell-style="white-space:nowrap"></paper-datatable-column>
                            <paper-datatable-column header="{{translate._02}}" property="class_name" cell-style="white-space:nowrap"></paper-datatable-column>
                            <paper-datatable-column header="{{translate._03}}" property="seat_no" cell-style="white-space:nowrap"></paper-datatable-column>
                            <paper-datatable-column header="{{translate._04}}" property="student_name" cell-style="white-space:nowrap"></paper-datatable-column>
                            <paper-datatable-column header="{{translate._05}}" property="gender" cell-style="white-space:nowrap">
                                <template>
                                    <span>{{_computeGender(value)}}</span>
                                </template>
                            </paper-datatable-column>
                            <paper-datatable-column header="{{translate._08}}" property="student_code" cell-style="white-space:nowrap"></paper-datatable-column>
                            <paper-datatable-column header="{{translate._09}}" property="parent_code" cell-style="white-space:nowrap"></paper-datatable-column>
                            <paper-datatable-column header="{{translate._06}}" property="account" cell-style="white-space:nowrap"></paper-datatable-column>
                            <paper-datatable-column header="{{translate._07}}" property="password" cell-style="white-space:nowrap"></paper-datatable-column>
                        </paper-datatable>
                    </paper-material>
                    <paper-material value="import" style="background:#fff">
                        <div style="padding:16px">
                            <div>{{translate._43}}</div>
                            <div>{{translate._44}}</div>
                            <div>{{translate._45}}</div>
                            <div>{{translate._46}}</div>
                            <div>&nbsp;</div>
                            <div>{{translate._47}}</div>
                            <div>{{translate._48}}</div>
                        </div>
                        <div style="padding:16px 16px 0">
                            <paper-textarea label="{{translate._42}}" max-rows="3" value="{{importData}}"></paper-textarea>
                        </div>
                        <div class="layout horizontal center wrap" style="padding:0 16px">
                            <paper-listbox selected="{{_importStatus.type}}" attr-for-selected="value" class="layout horizontal center">
                                <paper-item value="all" style="cursor:pointer">{{translate._28}} ({{_importStatus.all}})</paper-item>
                                <paper-item value="add" style="cursor:pointer;color:#1976d2">{{translate._25}} ({{_importStatus.add}})</paper-item>
                                <paper-item value="update" style="cursor:pointer;color:#388e3c">{{translate._26}} ({{_importStatus.update}})</paper-item>
                                <paper-item value="error" style="cursor:pointer;color:#d32f2f">{{translate._27}} ({{_importStatus.error}})</paper-item>
                            </paper-listbox>
                            <div class="flex-auto"></div>
                            <paper-button on-tap="_import" hidden$="{{!_importStatus.status}}">
                                <iron-icon icon="icons:cloud-upload"></iron-icon>
                                <span style="margin-left:4px">{{translate._29}}</span>
                            </paper-button>
                            <paper-button on-tap="_parse">
                                <iron-icon icon="icons:find-in-page"></iron-icon>
                                <span style="margin-left:4px">{{translate._22}}</span>
                            </paper-button>
                        </div>
                        <paper-datatable data="{{imports}}">
                            <paper-datatable-column property="type" cell-style="white-space:nowrap">
                                <template>
                                    <iron-pages selected="{{value}}" attr-for-selected="value">
                                        <div value="add" style="color:#1976d2">{{item.index}} {{translate._25}}</div>
                                        <div value="update" style="color:#388e3c">{{item.index}} {{translate._26}}</div>
                                        <div value="error" style="color:#d32f2f">{{item.index}} {{translate._27}}</div>
                                    </iron-pages>
                                </template>
                            </paper-datatable-column>
                            <paper-datatable-column property="error_message" cell-style="white-space:nowrap;color:#d32f2f"></paper-datatable-column>
                            <paper-datatable-column header="{{translate._00}}" property="id" cell-style="white-space:nowrap"></paper-datatable-column>
                            <paper-datatable-column header="{{translate._01}}" property="student_number" cell-style="white-space:nowrap"></paper-datatable-column>
                            <paper-datatable-column header="{{translate._02}}" property="class_name" cell-style="white-space:nowrap"></paper-datatable-column>
                            <paper-datatable-column header="{{translate._03}}" property="seat_no" cell-style="white-space:nowrap"></paper-datatable-column>
                            <paper-datatable-column header="{{translate._04}}" property="student_name" cell-style="white-space:nowrap"></paper-datatable-column>
                            <paper-datatable-column header="{{translate._05}}" property="gender" cell-style="white-space:nowrap"></paper-datatable-column>
                            <paper-datatable-column header="{{translate._08}}" property="student_code" cell-style="white-space:nowrap"></paper-datatable-column>
                            <paper-datatable-column header="{{translate._09}}" property="parent_code" cell-style="white-space:nowrap"></paper-datatable-column>
                            <paper-datatable-column header="{{translate._06}}" property="account" cell-style="white-space:nowrap"></paper-datatable-column>
                            <paper-datatable-column header="{{translate._07}}" property="password" cell-style="white-space:nowrap"></paper-datatable-column>
                        </paper-datatable>
                    </paper-material>
                </iron-pages>
            </div>
        </paper-header-panel>
        <paper-toast id="toast"></paper-toast>
        <paper-dialog id="editDialog" modal>
            <paper-dialog-scrollable>
                <paper-input label="{{translate._01}}" value="{{editObject.student_number}}"></paper-input>
                <div class="layout horizontal center">
                    <paper-dropdown-menu label="{{translate._02}}" class="flex-auto">
                        <paper-listbox class="dropdown-content" selected="{{editObject.class_name}}" attr-for-selected="value">
                            <paper-item value=""></paper-item>
                            <template is="dom-repeat" items="{{classes}}">
                                <paper-item value="{{item.class_name}}">{{item.class_name}}</paper-item>
                            </template>
                        </paper-listbox>
                    </paper-dropdown-menu>
                    <paper-input label="{{translate._03}}" value="{{editObject.seat_no}}" style="width:80px;margin-left:10px"></paper-input>
                </div>
                <div class="layout horizontal center">
                    <paper-input label="{{translate._04}}" value="{{editObject.student_name}}" class="flex-auto"></paper-input>
                    <paper-dropdown-menu label="{{translate._05}}" style="width:80px;margin-left:10px">
                        <paper-listbox class="dropdown-content" selected="{{editObject.gender}}" attr-for-selected="value">
                            <paper-item value=""></paper-item>
                            <paper-item value="1">{{translate._11}}</paper-item>
                            <paper-item value="0">{{translate._12}}</paper-item>
                        </paper-listbox>
                    </paper-dropdown-menu>
                </div>
                <paper-input label="{{translate._06}}" value="{{editObject.account}}"></paper-input>
                <paper-input label="{{translate._07}}" value="{{editObject.password}}"></paper-input>
                <div class="layout horizontal center">
                    <paper-input label="{{translate._08}}" value="{{editObject.student_code}}" readonly class="flex-auto"></paper-input>
                    <paper-icon-button icon="icons:autorenew" on-tap="_regenerateSCode"></paper-icon-button>
                    <paper-icon-button icon="icons:clear" on-tap="_removeSCode"></paper-icon-button>
                </div>
                <div class="layout horizontal center">
                    <paper-input label="{{translate._09}}" value="{{editObject.parent_code}}" readonly class="flex-auto"></paper-input>
                    <paper-icon-button icon="icons:autorenew" on-tap="_regeneratePCode"></paper-icon-button>
                    <paper-icon-button icon="icons:clear" on-tap="_removePCode"></paper-icon-button>
                </div>
            </paper-dialog-scrollable>
            <div class="buttons layout horizontal center">
                <paper-checkbox checked="{{editObject.delete}}" hidden$="{{editObject.isAddNew}}">{{translate._15}}</paper-checkbox>
                <div class="flex-auto"></div>
                <paper-button dialog-dismiss>{{translate._17}}</paper-button>
                <paper-button on-tap="_closeEditDialog">{{translate._14}}</paper-button>
            </div>
        </paper-dialog>
        <paper-dialog id="syncedDialog" modal>
            <h2>{{translate._38}}</h2>
            <paper-dialog-scrollable>
                <paper-input label="{{translate._39}}" value="{{_syncAdmin.domain}}"></paper-input>
                <paper-input label="{{translate._40}}" value="{{_syncAdmin.account}}"></paper-input>
                <paper-input label="{{translate._41}}" value="{{_syncAdmin.password}}" type="password"></paper-input>
            </paper-dialog-scrollable>
            <div class="buttons">
                <paper-button dialog-dismiss>{{translate._17}}</paper-button>
                <paper-button on-tap="_closeSyncedDialog">{{translate._16}}</paper-button>
            </div>
        </paper-dialog>
        <textarea id="clipboard" value="{{clipboardData}}" style="display:none"></textarea>
    </template>
    <script>
        Polymer({
            is: "campus-core-student",

            properties: {
                /*
                 * 學生 (zh-tw), 学生 (zh-cn), Student (en-us)
                 */
                title: {
                    type: Object,
                    value: {
                        'zh-tw': '學生',
                        'zh-cn': '学生',
                        'en-us': 'Student'
                    },
                    readOnly: true
                },
                _page: {
                    type: String,
                    value: 'info'
                },
                _batch: {
                    type: String,
                    value: 'export'
                },
                _importStatus: {
                    type: Object,
                    value: {
                        type: 'all',
                        status: false,
                        all: 0,
                        add: 0,
                        update: 0,
                        error: 0
                    }
                }
            },

            behaviors: [Campus.TranslateBehavior, Campus.ServiceBehavior, Campus.AjaxBehavior],

            observers: ['_getStudents(clazz)', '_filterImports(_importStatus.type)'],

            ready: function() {
                this.initTranslate({
                    'default': 'zh-tw',
                    'zh-tw': {
                        '_00': '系統編號',
                        '_01': '學號',
                        '_02': '班級',
                        '_03': '座號',
                        '_04': '姓名',
                        '_05': '性別',
                        '_06': '帳號',
                        '_07': '密碼',
                        '_08': '學生代碼',
                        '_09': '家長代碼',
                        '_10': '已同步',
                        '_11': '男',
                        '_12': '女',
                        '_13': '欄位標頭已複製到剪貼簿',
                        '_14': '儲存',
                        '_15': '刪除',
                        '_16': '確定',
                        '_17': '取消',
                        '_18': '更新失敗，請確認資料是否正確',
                        '_19': '筆選取的資料，已複製到剪貼簿',
                        '_20': '未分班',
                        '_21': '基本資料',
                        '_22': '解析',
                        '_23': '匯出',
                        '_24': '匯入',
                        '_25': '新增',
                        '_26': '更新',
                        '_27': '錯誤',
                        '_28': '全部',
                        '_29': '上傳',
                        '_30': '上傳完成',
                        '_31': '複製',
                        '_32': '學號重覆',
                        '_33': '帳號重覆',
                        '_34': '學生代碼重覆',
                        '_35': '家長代碼重覆',
                        '_36': '班級不存在',
                        '_37': '同步帳號',
                        '_38': '請輸入管理員資訊',
                        '_39': '網域',
                        '_40': '帳號',
                        '_41': '密碼',
                        '_42': '貼上資料',
                        '_43': 'A. 請先於「匯出」點選「複製」取得資料欄位標頭，並貼上至Excel進行資料編輯。',
                        '_44': 'B. 編輯完成後，請全選Excel資料進行複製，貼至該頁面之「貼上資料」欄，並點選「解析」。',
                        '_45': 'C. 若解析出現錯誤，請依循錯誤進行資料修正後，再重新貼入進行解析。',
                        '_46': 'D. 若解析後，顯示「新增」或「更新」，即可點選「上傳」，完成基本資料新增。',
                        '_47': '必填欄位：班級、姓名、性別；學號不得重複。',
                        '_48': '勿刪除：系統編號欄位。'
                    },
                    'zh-cn': {
                        '_00': '系统编号',
                        '_01': '学籍号',
                        '_02': '班级',
                        '_03': '座号',
                        '_04': '姓名',
                        '_05': '性別',
                        '_06': '帐号',
                        '_07': '密码',
                        '_08': '学生代码',
                        '_09': '家长代码',
                        '_10': '已同步',
                        '_11': '男',
                        '_12': '女',
                        '_13': '栏位标头已复制到剪贴簿',
                        '_14': '储存',
                        '_15': '删除',
                        '_16': '确定',
                        '_17': '取消',
                        '_18': '更新失败，请确认资料是否正确',
                        '_19': '笔选取的资料，已复制到剪贴簿',
                        '_20': '未分班',
                        '_21': '基本资料',
                        '_22': '解析',
                        '_23': '导出',
                        '_24': '导入',
                        '_25': '新增',
                        '_26': '更新',
                        '_27': '错误',
                        '_28': '全部',
                        '_29': '上传',
                        '_30': '上传完成',
                        '_31': '复制',
                        '_32': '学号重覆',
                        '_33': '帐号重覆',
                        '_34': '学生代码重覆',
                        '_35': '家长代码重覆',
                        '_36': '班级不存在',
                        '_37': '同步帐号',
                        '_38': '请输入管理员资讯',
                        '_39': '网域',
                        '_40': '帐号',
                        '_41': '密码',
                        '_42': '贴上资料',
                        '_43': 'A. 請先於「匯出」點選「複製」取得資料欄位標頭，並貼上至Excel進行資料編輯。',
                        '_44': 'B. 編輯完成後，請全選Excel資料進行複製，貼至該頁面之「貼上資料」欄，並點選「解析」。',
                        '_45': 'C. 若解析出現錯誤，請依循錯誤進行資料修正後，再重新貼入進行解析。',
                        '_46': 'D. 若解析後，顯示「新增」或「更新」，即可點選「上傳」，完成基本資料新增。',
                        '_47': '必填欄位：班級、姓名、性別；學號不得重複。',
                        '_48': '勿刪除：系統編號欄位。'
                    },
                    'en-us': {
                        '_00': 'UID',
                        '_01': 'Student No.',
                        '_02': 'Class',
                        '_03': 'Seat No.',
                        '_04': 'Name',
                        '_05': 'Gender',
                        '_06': 'Account',
                        '_07': 'Password',
                        '_08': 'Student Code',
                        '_09': 'Parent Code',
                        '_10': 'Synced',
                        '_11': 'Male',
                        '_12': 'Female',
                        '_13': 'Column title copy to clipboard',
                        '_14': 'Save',
                        '_15': 'Delete',
                        '_16': 'Sumit',
                        '_17': 'Cancel',
                        '_18': 'Update failed',
                        '_19': 'items copy to clipboard',
                        '_20': 'Unclassified',
                        '_21': 'Info',
                        '_22': 'Parse',
                        '_23': 'Export',
                        '_24': 'Import',
                        '_25': 'Add',
                        '_26': 'Update',
                        '_27': 'Error',
                        '_28': 'All',
                        '_29': 'Upload',
                        '_30': 'Upload complete',
                        '_31': 'Copy',
                        '_32': 'Duplicate student number',
                        '_33': 'Duplicate account',
                        '_34': 'Duplicate student code',
                        '_35': 'Duplicate parent code',
                        '_36': 'Class does not exist',
                        '_37': 'Synced',
                        '_38': 'Administrator information',
                        '_39': 'Domain',
                        '_40': 'Account',
                        '_41': 'Password',
                        '_42': 'Paste data',
                        '_43': 'A. 請先於「匯出」點選「複製」取得資料欄位標頭，並貼上至Excel進行資料編輯。',
                        '_44': 'B. 編輯完成後，請全選Excel資料進行複製，貼至該頁面之「貼上資料」欄，並點選「解析」。',
                        '_45': 'C. 若解析出現錯誤，請依循錯誤進行資料修正後，再重新貼入進行解析。',
                        '_46': 'D. 若解析後，顯示「新增」或「更新」，即可點選「上傳」，完成基本資料新增。',
                        '_47': '必填欄位：班級、姓名、性別；學號不得重複。',
                        '_48': '勿刪除：系統編號欄位。'
                    }
                });

                this._getClasses();
                this._getAllStudents();
            },

            _computeGender: function(value) {
                return value === '1' ? this.translate._11 : (value === '0' ? this.translate._12 : '');
            },

            _computeSynced: function(value) {
                return value === 'true' ? 'icons:done' : '';
            },

            _getClasses: function() {
                var request = {
                    contract: 'campus.core',
                    service: 'class.get',
                    body: ''
                };

                this.generateRequest(request, function(response) {
                    if (response && response.classes) {
                        var items = [].concat(response.classes.class || []);
                        items.forEach(function(item) {
                            item.teacher_label = item.teacher_nickname ? [item.teacher_name, ' (', item.teacher_nickname, ')'].join('') : item.teacher_name;
                        });

                        this.set('classes', items);

                        if (items.length > 0) {
                            this.set('clazz', items[0])
                        }
                    }
                }.bind(this));
            },

            _getStudents: function() {
                if (this.$.exporttable) {
                    this.$.exporttable.deselectAll();
                    this.$.exporttable.reset();
                }

                var body = '';
                if (this.clazz === 'unclassified')
                    body = '<class_id></class_id><status>1</status>';
                else if (this.clazz === 'delete')
                    body = '<status>256</status>';
                else if (this.clazz)
                    body = ['<class_id>', this.clazz.id, '</class_id><status>1</status>'].join('');

                var request = {
                    contract: 'campus.core',
                    service: 'student.get',
                    body: body
                };

                this.generateRequest(request, function(response) {
                    if (response && response.students) {
                        var items = [].concat(response.students.student || []);
                        this.set('students', items);
                    }
                }.bind(this));
            },

            _getAllStudents: function() {
                var request = {
                    contract: 'campus.core',
                    service: 'student.get',
                    body: '<field>student_number,account,student_code,parent_code</field>'
                };

                this.generateRequest(request, function(response) {
                    if (response && response.students) {
                        var items = [].concat(response.students.student || []);
                        this.set('allStudents', items);
                    }
                }.bind(this));
            },

            _regenerateSCode: function(e) {
                this.set('editObject.student_code', Math.ceil(Math.random() * Date.now()).toString(16).substr(2, 6).toUpperCase());
            },

            _removeSCode: function(e) {
                this.set('editObject.student_code', '');
            },

            _regeneratePCode: function(e) {
                this.set('editObject.parent_code', Math.ceil(Math.random() * Date.now()).toString(16).substr(2, 6).toUpperCase());
            },

            _removePCode: function(e) {
                this.set('editObject.parent_code', '');
            },

            _openEditDialog: function(e) {
                if (e.detail && e.detail.item) {
                    this.set('editObject', {
                        id: e.detail.item.id,
                        student_name: e.detail.item.student_name,
                        gender: e.detail.item.gender,
                        student_number: e.detail.item.student_number,
                        seat_no: e.detail.item.seat_no,
                        class_name: e.detail.item.class_name,
                        account: e.detail.item.account,
                        password: e.detail.item.password,
                        student_code: e.detail.item.student_code,
                        parent_code: e.detail.item.parent_code,
                        status: e.detail.item.status,
                        delete: e.detail.item.status === '256'
                    });
                } else
                    this.set('editObject', {
                        isAddNew: true,
                        class_name: this.clazz.class_name,
                        delete: false
                    });

                this.$.editDialog.open();
            },

            _closeEditDialog: function(e) {
                var clazz;
                this.classes.forEach(function(c) {
                    if (c.class_name === this.editObject.class_name)
                        clazz = c;
                }.bind(this));

                var request = {
                    contract: 'campus.core',
                    service: 'student.set',
                    body: [
                        '<student_name>', this.editObject.student_name, '</student_name>',
                        '<gender>', this.editObject.gender, '</gender>',
                        '<student_number>', this.editObject.student_number, '</student_number>',
                        '<ref_class_id>', clazz ? clazz.id : '', '</ref_class_id>',
                        '<seat_no>', this.editObject.seat_no, '</seat_no>',
                        '<account>', this.editObject.account, '</account>',
                        '<password>', this.editObject.password, '</password>',
                        '<student_code>', this.editObject.student_code, '</student_code>',
                        '<parent_code>', this.editObject.parent_code, '</parent_code>',
                        '<status>', this.editObject.delete ? 256 : 1, '</status>'
                    ]
                };

                if (this.editObject.id)
                    request.body.push(['<id>', this.editObject.id, '</id>'].join(''));

                request.body = request.body.join('');

                this.generateRequest(request, function(response) {
                    if (response && response.Message === 'Well done!') {
                        this._getStudents();
                        this.$.editDialog.close();
                    } else {
                        this.$.toast.show({
                            text: this.translate._18,
                            duration: 1000
                        });
                    }
                }.bind(this));
            },

            _export: function() {
                var items = [
                    [this.translate._00, this.translate._01, this.translate._02, this.translate._03, this.translate._04, this.translate._05, this.translate._08.split(' ').join(''), this.translate._09.split(' ').join(''), this.translate._06, this.translate._07].join('\t')
                ];
                this.$.exporttable.selectedItems.forEach(function(item) {
                    items.push([item.id, item.student_number.trim(), item.class_name.trim(), item.seat_no, item.student_name, item.gender === '1' ? this.translate._11 : this.translate._12, item.student_code.trim(), item.parent_code.trim(), item.account.trim(), item.password.trim()].join('\t'));
                }.bind(this));

                this.set('clipboardData', items.join('\n'));
                this.$.clipboard.style.display = 'block';
                this.$.clipboard.select();
                document.execCommand('copy');
                this.$.clipboard.style.display = 'none';

                this.$.toast.show({
                    text: items.length - 1 === 0 ? this.translate._13 : [items.length - 1, this.translate._19].join(' '),
                    duration: 1000
                });
            },

            _parse: function() {
                if (!this.importData) return;

                var items = [],
                    data = this.importData.split("\n");
                data.shift();
                data.forEach(function(d, index) {
                    var temp = d.replace(/\t/ig, ',').split(',');
                    temp.forEach(function(t, index) {
                        temp[index] = temp[index].replace(/"/ig, '').replace(/　/ig, '');
                    });

                    if (!(temp[0].trim() === '' &&
                            temp[1].trim() === '' &&
                            temp[2].trim() === '' &&
                            temp[3].trim() === '' &&
                            temp[4].trim() === '' &&
                            temp[5].trim() === '' &&
                            temp[6].trim() === '' &&
                            temp[7].trim() === '' &&
                            temp[8].trim() === '' &&
                            temp[9].trim() === '')) {

                        var item = {
                            type: (temp[0] || '').trim() === '' ? 'add' : 'update',
                            index: ['#', index + 1].join(''),
                            id: (temp[0] || '').trim(),
                            student_number: (temp[1] || '').trim(),
                            class_name: (temp[2] || '').trim(),
                            seat_no: (temp[3] || '').trim(),
                            student_name: (temp[4] || '').trim(),
                            gender: (temp[5] || '').trim(),
                            student_code: (temp[6] || '').trim().toLowerCase() === 'auto' ? Math.ceil(Math.random() * Date.now()).toString(16).substr(2, 6).toUpperCase() : (temp[6] || '').trim(),
                            parent_code: (temp[7] || '').trim().toLowerCase() === 'auto' ? Math.ceil(Math.random() * Date.now()).toString(16).substr(2, 6).toUpperCase() : (temp[7] || '').trim(),
                            account: (temp[8] || '').trim(),
                            password: (temp[9] || '').trim()
                        }

                        var errors = [],
                            rule1 = false, // 學號重覆
                            rule2 = false, // 帳號重覆
                            rule3 = false, // 學生代碼重覆
                            rule4 = false, // 家長代碼重覆
                            rule5 = false; // 班級不存在
                        this.allStudents.forEach(function(s) {
                            // 學號重覆
                            if (s.student_number.toUpperCase() === item.student_number.toUpperCase() && item.student_number !== '' && s.id !== item.id)
                                rule1 = true;

                            // 帳號重覆
                            if (s.account.toUpperCase() === item.account.toUpperCase() && s.account !== '' && s.id !== item.id)
                                rule2 = true;

                            // 學生代碼重覆
                            if (s.student_code.toUpperCase() === item.student_code.toUpperCase() && s.student_code !== '' && s.id !== item.id)
                                rule3 = true;

                            // 家長代碼重覆
                            if (s.parent_code.toUpperCase() === item.parent_code.toUpperCase() && s.parent_code !== '' && s.id !== item.id)
                                rule4 = true;
                        });

                        if (rule1) errors.push(this.translate._32);
                        if (rule2) errors.push(this.translate._33);
                        if (rule3) errors.push(this.translate._34);
                        if (rule4) errors.push(this.translate._35);

                        if (item.class_name !== '') {
                            this.classes.forEach(function(c) {
                                if (c.class_name.toUpperCase() === item.class_name.toUpperCase()) {
                                    item.ref_class_id = c.id;
                                    rule5 = true;
                                }
                            });

                            if (!rule5) errors.push(this.translate._36);
                        } else
                            item.ref_class_id = '';

                        item.error_message = errors.join(", ");
                        item.type = errors.length > 0 ? 'error' : item.type;

                        items.push(item);
                    }
                }.bind(this));

                var count = [items.length, 0, 0, 0];
                items.forEach(function(item) {
                    if (item.type === 'add')
                        count[1] += 1;
                    if (item.type === 'update')
                        count[2] += 1;
                    if (item.type === 'error')
                        count[3] += 1;
                });

                this.set('_importStatus.all', count[0]);
                this.set('_importStatus.add', count[1]);
                this.set('_importStatus.update', count[2]);
                this.set('_importStatus.error', count[3]);
                this.set('_importStatus.status', count[3] === 0 && items.length > 0);

                this.set('imports', items);
                this.set('originImports', items);
            },

            _filterImports: function(value) {
                if (!this.originImports) return;

                var items = [];
                this.originImports.forEach(function(item) {
                    if (item.type === value || value === 'all')
                        items.push(item);
                });

                this.set('imports', items);
            },

            _import: function() {
                var items = [];
                this.originImports.forEach(function(item) {
                    items.push([
                        '<student>',
                        '<id>', item.id, '</id>',
                        '<student_name>', item.student_name, '</student_name>',
                        '<gender>', ['男', '男', 'male', 'm', 'true', 't'].indexOf(item.gender.toLowerCase()) !== -1 ? 1 : 0, '</gender>',
                        '<student_number>', item.student_number, '</student_number>',
                        '<ref_class_id>', item.ref_class_id, '</ref_class_id>',
                        '<seat_no>', item.seat_no, '</seat_no>',
                        '<account>', item.account, '</account>',
                        '<password>', item.password, '</password>',
                        '<student_code>', item.student_code, '</student_code>',
                        '<parent_code>', item.parent_code, '</parent_code>',
                        '</student>'
                    ].join(''));
                });

                var request = {
                    contract: 'campus.core',
                    service: 'student.batch',
                    body: items.join('')
                };

                this.generateRequest(request, function(response) {
                    if (response && response.Message === 'Well done!') {
                        this.set('importData', '');
                        this.set('imports', []);
                        this.set('originImports', []);

                        this.set('_importStatus', {
                            type: 'all',
                            status: false,
                            all: 0,
                            add: 0,
                            update: 0,
                            error: 0
                        });

                        this._getStudents();

                        this.$.toast.show({
                            text: this.translate._30,
                            duration: 1000
                        });
                    } else {
                        this.$.toast.show({
                            text: this.translate._18,
                            duration: 1000
                        });
                    }
                }.bind(this));
            },

            _openSyncedDialog: function() {
                if (!this._syncAdmin) {
                    this.set('_syncAdmin', {
                        domain: '',
                        account: '',
                        password: ''
                    });
                }
                
                this.$.syncedDialog.open();
            },

            _closeSyncedDialog: function() {
                var accounts = [];
                this.students.forEach(function(item) {
                    var acc = item.account.split('@');
                    if (acc.length === 2 && acc[1] === this._syncAdmin.domain && item.password !== '') {
                        accounts.push({
                            acc: item.account,
                            pwd: item.password,
                            firstName: item.student_name,
                            lastName: ''
                        });
                    }
                }.bind(this));

                this._syncAccount(accounts);
            },

            _syncAccount: function(accounts) {
                this.ajax({
                    method: 'POST',
                    url: [Campus.authServer, '/c/1campus.service/applicationAccounts.php'].join(''),
                    request: {
                        "application": Campus.school.dsns,
                        "domain": {
                            "name": this._syncAdmin.domain,
                            "acc": this._syncAdmin.account,
                            "pwd": this._syncAdmin.password
                        },
                        "list": accounts
                    },
                    responseType: 'json'
                }, function(response, xhr) {
                    if (response.status === 'success')
                        this._upateSyncedAccount();
                    else
                        this.$.toast.show({
                            text: this.translate._18,
                            duration: 1000
                        });
                }.bind(this));
            },

            _upateSyncedAccount: function() {
                var items = [];
                this.students.forEach(function(item) {
                    var acc = item.account.split('@');
                    if (acc.length === 2 && acc[1] === this._syncAdmin.domain && item.password !== '') {
                        items.push([
                            '<student>',
                            '<id>', item.id, '</id>',
                            '<synced>', item.account, ':', item.password, '</synced>',
                            '</student>'
                        ].join(''));
                    }
                }.bind(this));

                var request = {
                    contract: 'campus.core',
                    service: 'student.batch',
                    body: items.join('')
                };

                this.generateRequest(request, function(response) {
                    if (response && response.Message === 'Well done!') {
                        this._getStudents();
                        this.$.syncedDialog.close();
                    } else {
                        this.$.toast.show({
                            text: this.translate._18,
                            duration: 1000
                        });
                    }
                }.bind(this));
            }
        });
    </script>
</dom-module>
