<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../paper-header-panel/paper-header-panel.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../paper-toolbar/paper-toolbar.html">
<!--
`campus-plugin`
@demo demo/campus-plugin.html
-->
<dom-module id="campus-plugin">
    <style include="iron-flex iron-flex-alignment iron-flex-factors"></style>
    <style>
         :host {
            display: block;
            position: relative;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            background: #f2f2f2;
            height: 100%;
        }

        :host .content {
            max-width: 480px;
        }
    </style>
    <template>
        <paper-header-panel mode="waterfall">
            <paper-toolbar></paper-toolbar>
            <div class="content">
            </div>
        </paper-header-panel>
    </template>
    <script>
        Polymer({
            is: "campus-plugin",

            properties: {
                items: Array
            },


        });
    </script>
</dom-module>
